Repository andrewdimmer/csi-3370-software-project, pull requests merged in 2020-12, with the labels that each got.

#134 [Display_02] DisplayCommInterface Test and Implementation
  src/main/java/edu/oakland/production/display02/DisplayCommInterface.java
  src/main/java/edu/oakland/production/display02/DisplayCommInterfaceImplementation.java
  src/test/java/edu/oakland/test/display02/DisplayComm2WayInterfaceStub.java
  src/test/java/edu/oakland/test/display02/DisplayCommInterfaceImplementationTests.java
Labels: Display_02, enhancement

#109 [Middleware_02] Build MiddlewareCommInterface
  src/main/java/edu/oakland/production/middleware02/MiddlewareCommInterfaceImplementation.java
  src/main/java/edu/oakland/production/middleware02/MiddlewareCommLinkManager.java
  src/test/java/edu/oakland/test/middleware02/MiddlewareCommInterfaceImplementationTests.java
  src/test/java/edu/oakland/test/middleware02/MiddlewareCommLinkManagerStub.java
Labels: Middleware_02

#111 [Middleware_02] Build MiddlewareCommDatabaseInterface
  src/main/java/edu/oakland/production/middleware02/MiddlewareCommDatabaseInterfaceImplementation.java
  src/test/java/edu/oakland/test/middleware02/DatabaseCommInterfaceStub.java
  src/test/java/edu/oakland/test/middleware02/MiddlewareCommDatabaseInterfaceImplementationTests.java
Labels: Middleware_02, enhancement

#147 [Display_01] Standardized name of SatelliteSignalCheckRequest
  src/test/java/edu/oakland/test/display01/SatelliteSignalCheckRequestTests.java
Labels: Display_01, bug

#138 [Database] Build Database CommInterface
  src/main/java/edu/oakland/production/database/DatabaseCommInterfaceImplementation.java
  src/test/java/edu/oakland/test/database/DatabaseCommInterfaceTest.java
  src/test/java/edu/oakland/test/database/DatabaseCommManagerStub.java
Labels: Database, enhancement

#126 [Display_01]Build DisplayGpsReceiverImplementationTests
  src/main/java/edu/oakland/production/display01/DisplayGpsReceiverImplementation.java
  src/test/java/edu/oakland/test/display01/DisplayGpsManagerStub.java
  src/test/java/edu/oakland/test/display01/DisplayGpsReceiverImplementationTests.java
Labels: Display_01, enhancement

#117 [Display_01] Built DisplayGpsInterfaceImplementation and Tests
  src/main/java/edu/oakland/production/display01/DisplayGpsInterface.java
  src/main/java/edu/oakland/production/display01/DisplayGpsInterfaceImplementation.java
  src/test/java/edu/oakland/test/display01/DisplayGpsInterfaceImplementationTests.java
  src/test/java/edu/oakland/test/display01/DisplayGpsReceiverStub.java
Labels: Display_01, enhancement

#152 Update display gps interface implementation puml
  docs/uml-class-diagrams/display01/Display01Packages.png
  docs/uml-class-diagrams/display01/Display01Packages.svg
  docs/uml-class-diagrams/display01/Display01Packages_Closure.png
  docs/uml-class-diagrams/display01/Display01Packages_Closure.svg
  docs/uml-class-diagrams/display01/Display01Packages_DirectDependencies.png
  docs/uml-class-diagrams/display01/Display01Packages_DirectDependencies.svg
  docs/uml-class-diagrams/display01/Display01Packages_InternalDependencies.png
  docs/uml-class-diagrams/display01/Display01Packages_InternalDependencies.svg
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage.png
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage.svg
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage_Closure.png
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage_Closure.svg
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage_DirectDependencies.png
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage_DirectDependencies.svg
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage_InternalDependencies.png
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage_InternalDependencies.svg
  docs/uml-class-diagrams/display01/production/DisplayGpsInterfaceImplementation/DisplayGpsInterfaceImplementation.png
  docs/uml-class-diagrams/display01/production/DisplayGpsInterfaceImplementation/DisplayGpsInterfaceImplementation.puml
  docs/uml-class-diagrams/display01/production/DisplayGpsInterfaceImplementation/DisplayGpsInterfaceImplementation.svg
  docs/uml-class-diagrams/display01/production/DisplayGpsInterfaceImplementation/DisplayGpsInterfaceImplementation_Closure.png
  docs/uml-class-diagrams/display01/production/DisplayGpsInterfaceImplementation/DisplayGpsInterfaceImplementation_Closure.svg
  docs/uml-class-diagrams/display01/production/DisplayGpsInterfaceImplementation/DisplayGpsInterfaceImplementation_DirectDependencies.png
  docs/uml-class-diagrams/display01/production/DisplayGpsInterfaceImplementation/DisplayGpsInterfaceImplementation_DirectDependencies.svg
  docs/uml-class-diagrams/display01/test/Display01TestPackage_Closure.png
  docs/uml-class-diagrams/display01/test/Display01TestPackage_Closure.svg
  docs/uml-class-diagrams/display01/test/Display01TestPackage_DirectDependencies.png
  docs/uml-class-diagrams/display01/test/Display01TestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/display01/test/DisplayGpsInterfaceImplementationTests/DisplayGpsInterfaceImplementationTests_Closure.png
  docs/uml-class-diagrams/display01/test/DisplayGpsInterfaceImplementationTests/DisplayGpsInterfaceImplementationTests_Closure.svg
  docs/uml-class-diagrams/display01/test/DisplayGpsInterfaceImplementationTests/DisplayGpsInterfaceImplementationTests_DirectDependencies.png
  docs/uml-class-diagrams/display01/test/DisplayGpsInterfaceImplementationTests/DisplayGpsInterfaceImplementationTests_DirectDependencies.svg
  docs/uml-class-diagrams/display01/test/DisplayGpsReceiverImplementationTests/DisplayGpsReceiverImplementationTests.puml
Labels: Display_01, documentation

#135 [Display_01] Built DisplayGpsManagerImplmentation and Tests
  src/main/java/edu/oakland/production/display01/DisplayGpsManagerImplementation.java
  src/test/java/edu/oakland/test/display01/DisplayGpsManagerImplementationTests.java
  src/test/java/edu/oakland/test/display01/MiddlewareGisInterfaceStub.java
Labels: Display_01, enhancement

#141 [Display_02] Built DisplayComm2WayInterfaceImplementationTests.java
  src/main/java/edu/oakland/production/display02/DisplayComm2WayInterfaceImplementation.java
  src/test/java/edu/oakland/test/display02/DisplayComm2WayInterfaceImplementationTests.java
  src/test/java/edu/oakland/test/display02/DisplayCommManagerStub.java
Labels: Display_02, enhancement

#153 DisplayCommManager Uml Updates
  docs/uml-class-diagrams/display02/Display02Packages.png
  docs/uml-class-diagrams/display02/Display02Packages.svg
  docs/uml-class-diagrams/display02/Display02Packages_Closure.png
  docs/uml-class-diagrams/display02/Display02Packages_Closure.svg
  docs/uml-class-diagrams/display02/Display02Packages_DirectDependencies.png
  docs/uml-class-diagrams/display02/Display02Packages_DirectDependencies.svg
  docs/uml-class-diagrams/display02/Display02Packages_InternalDependencies.png
  docs/uml-class-diagrams/display02/Display02Packages_InternalDependencies.svg
  docs/uml-class-diagrams/display02/production/Display02ProductionPackage.png
  docs/uml-class-diagrams/display02/production/Display02ProductionPackage.svg
  docs/uml-class-diagrams/display02/production/Display02ProductionPackage_Closure.png
  docs/uml-class-diagrams/display02/production/Display02ProductionPackage_Closure.svg
  docs/uml-class-diagrams/display02/production/Display02ProductionPackage_DirectDependencies.png
  docs/uml-class-diagrams/display02/production/Display02ProductionPackage_DirectDependencies.svg
  docs/uml-class-diagrams/display02/production/Display02ProductionPackage_InternalDependencies.png
  docs/uml-class-diagrams/display02/production/Display02ProductionPackage_InternalDependencies.svg
  docs/uml-class-diagrams/display02/production/DisplayCommManager/DisplayCommManager.png
  docs/uml-class-diagrams/display02/production/DisplayCommManager/DisplayCommManager.puml
  docs/uml-class-diagrams/display02/production/DisplayCommManager/DisplayCommManager.svg
  docs/uml-class-diagrams/display02/production/DisplayCommManager/DisplayCommManager_Closure.png
  docs/uml-class-diagrams/display02/production/DisplayCommManager/DisplayCommManager_Closure.svg
  docs/uml-class-diagrams/display02/production/DisplayCommManager/DisplayCommManager_DirectDependencies.png
  docs/uml-class-diagrams/display02/production/DisplayCommManager/DisplayCommManager_DirectDependencies.svg
  docs/uml-class-diagrams/display02/production/DisplayCommManagerImplementation/DisplayCommManagerImplementation.png
  docs/uml-class-diagrams/display02/production/DisplayCommManagerImplementation/DisplayCommManagerImplementation.puml
  docs/uml-class-diagrams/display02/production/DisplayCommManagerImplementation/DisplayCommManagerImplementation.svg
  docs/uml-class-diagrams/display02/production/DisplayCommManagerImplementation/DisplayCommManagerImplementation_Closure.png
  docs/uml-class-diagrams/display02/production/DisplayCommManagerImplementation/DisplayCommManagerImplementation_Closure.svg
  docs/uml-class-diagrams/display02/production/DisplayCommManagerImplementation/DisplayCommManagerImplementation_DirectDependencies.png
  docs/uml-class-diagrams/display02/production/DisplayCommManagerImplementation/DisplayCommManagerImplementation_DirectDependencies.svg
  docs/uml-class-diagrams/display02/test/Display02TestPackage.png
  docs/uml-class-diagrams/display02/test/Display02TestPackage.svg
  docs/uml-class-diagrams/display02/test/Display02TestPackage_Closure.png
  docs/uml-class-diagrams/display02/test/Display02TestPackage_Closure.svg
  docs/uml-class-diagrams/display02/test/Display02TestPackage_DirectDependencies.png
  docs/uml-class-diagrams/display02/test/Display02TestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/display02/test/Display02TestPackage_InternalDependencies.png
  docs/uml-class-diagrams/display02/test/Display02TestPackage_InternalDependencies.svg
  docs/uml-class-diagrams/display02/test/DisplayComm2WayInterfaceImplementationTests/DisplayComm2WayInterfaceImplementationTests_Closure.png
  docs/uml-class-diagrams/display02/test/DisplayComm2WayInterfaceImplementationTests/DisplayComm2WayInterfaceImplementationTests_Closure.svg
  docs/uml-class-diagrams/display02/test/DisplayCommManagerImplementationTests/DisplayCommManagerImplementationTests.png
  docs/uml-class-diagrams/display02/test/DisplayCommManagerImplementationTests/DisplayCommManagerImplementationTests.puml
  docs/uml-class-diagrams/display02/test/DisplayCommManagerImplementationTests/DisplayCommManagerImplementationTests.svg
  docs/uml-class-diagrams/display02/test/DisplayCommManagerImplementationTests/DisplayCommManagerImplementationTests_Closure.png
  docs/uml-class-diagrams/display02/test/DisplayCommManagerImplementationTests/DisplayCommManagerImplementationTests_Closure.svg
  docs/uml-class-diagrams/display02/test/DisplayCommManagerImplementationTests/DisplayCommManagerImplementationTests_DirectDependencies.png
  docs/uml-class-diagrams/display02/test/DisplayCommManagerImplementationTests/DisplayCommManagerImplementationTests_DirectDependencies.svg
  docs/uml-class-diagrams/display02/test/DisplayCommManagerStub/DisplayCommManagerStub_Closure.png
  docs/uml-class-diagrams/display02/test/DisplayCommManagerStub/DisplayCommManagerStub_Closure.svg
  docs/uml-class-diagrams/display02/test/DisplayCommManagerStub/DisplayCommManagerStub_DirectDependencies.png
  docs/uml-class-diagrams/display02/test/DisplayCommManagerStub/DisplayCommManagerStub_DirectDependencies.svg
Labels: Display_02, documentation

#145 [Admin] Build User
  src/main/java/edu/oakland/production/admin/User.java
  src/test/java/edu/oakland/test/DisplayCommInterfaceStub.java
  src/test/java/edu/oakland/test/admin/UserTests.java
Labels: Admin, enhancement

#149 [Admin] Build Demo
  src/main/java/edu/oakland/production/admin/Demo.java
  src/test/java/edu/oakland/test/admin/DemoTests.java
Labels: Admin, enhancement

#148 [Admin] Built GpsSystem
  docs/uml-class-diagrams/admin/AdminPackages.png
  docs/uml-class-diagrams/admin/AdminPackages.svg
  docs/uml-class-diagrams/admin/AdminPackages_Closure.png
  docs/uml-class-diagrams/admin/AdminPackages_Closure.svg
  docs/uml-class-diagrams/admin/AdminPackages_DirectDependencies.png
  docs/uml-class-diagrams/admin/AdminPackages_DirectDependencies.svg
  docs/uml-class-diagrams/admin/AdminPackages_InternalDependencies.png
  docs/uml-class-diagrams/admin/AdminPackages_InternalDependencies.svg
  docs/uml-class-diagrams/admin/production/AdminProductionPackage.png
  docs/uml-class-diagrams/admin/production/AdminProductionPackage.svg
  docs/uml-class-diagrams/admin/production/AdminProductionPackage_Closure.png
  docs/uml-class-diagrams/admin/production/AdminProductionPackage_Closure.svg
  docs/uml-class-diagrams/admin/production/AdminProductionPackage_DirectDependencies.png
  docs/uml-class-diagrams/admin/production/AdminProductionPackage_DirectDependencies.svg
  docs/uml-class-diagrams/admin/production/AdminProductionPackage_InternalDependencies.png
  docs/uml-class-diagrams/admin/production/AdminProductionPackage_InternalDependencies.svg
  docs/uml-class-diagrams/admin/production/GpsSystem/GpsSystem.png
  docs/uml-class-diagrams/admin/production/GpsSystem/GpsSystem.puml
  docs/uml-class-diagrams/admin/production/GpsSystem/GpsSystem.svg
  docs/uml-class-diagrams/admin/production/GpsSystem/GpsSystem_Closure.png
  docs/uml-class-diagrams/admin/production/GpsSystem/GpsSystem_Closure.svg
  docs/uml-class-diagrams/admin/production/GpsSystem/GpsSystem_DirectDependencies.png
  docs/uml-class-diagrams/admin/production/GpsSystem/GpsSystem_DirectDependencies.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_Closure.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_Closure.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_DirectDependencies.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_InternalDependencies.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_InternalDependencies.svg
  docs/uml-class-diagrams/admin/test/GpsSystemTests/GpsSystemTests.png
  docs/uml-class-diagrams/admin/test/GpsSystemTests/GpsSystemTests.puml
  docs/uml-class-diagrams/admin/test/GpsSystemTests/GpsSystemTests.svg
  docs/uml-class-diagrams/admin/test/GpsSystemTests/GpsSystemTests_Closure.png
  docs/uml-class-diagrams/admin/test/GpsSystemTests/GpsSystemTests_Closure.svg
  docs/uml-class-diagrams/admin/test/GpsSystemTests/GpsSystemTests_DirectDependencies.png
  docs/uml-class-diagrams/admin/test/GpsSystemTests/GpsSystemTests_DirectDependencies.svg
  src/main/java/edu/oakland/helper/admin/Satellite.java
  src/main/java/edu/oakland/production/admin/GpsSystem.java
  src/test/java/edu/oakland/test/admin/DisplayGpsInterfaceStub.java
  src/test/java/edu/oakland/test/admin/GpsSystemTests.java
  src/test/java/edu/oakland/test/admin/SatelliteTests.java
Labels: Admin, enhancement

#156 [Admin] Build All Admin Classes and System Integration Tests
  build.gradle
  docs/uml-class-diagrams/admin/AdminPackages.png
  docs/uml-class-diagrams/admin/AdminPackages.svg
  docs/uml-class-diagrams/admin/AdminPackages_Closure.png
  docs/uml-class-diagrams/admin/AdminPackages_Closure.svg
  docs/uml-class-diagrams/admin/AdminPackages_DirectDependencies.png
  docs/uml-class-diagrams/admin/AdminPackages_DirectDependencies.svg
  docs/uml-class-diagrams/admin/AdminPackages_InternalDependencies.png
  docs/uml-class-diagrams/admin/AdminPackages_InternalDependencies.svg
  docs/uml-class-diagrams/admin/production/AdminProductionPackage.png
  docs/uml-class-diagrams/admin/production/AdminProductionPackage.svg
  docs/uml-class-diagrams/admin/production/AdminProductionPackage_Closure.png
  docs/uml-class-diagrams/admin/production/AdminProductionPackage_Closure.svg
  docs/uml-class-diagrams/admin/production/AdminProductionPackage_DirectDependencies.png
  docs/uml-class-diagrams/admin/production/AdminProductionPackage_DirectDependencies.svg
  docs/uml-class-diagrams/admin/production/AdminProductionPackage_InternalDependencies.png
  docs/uml-class-diagrams/admin/production/AdminProductionPackage_InternalDependencies.svg
  docs/uml-class-diagrams/admin/production/GpsSystem/GpsSystem.png
  docs/uml-class-diagrams/admin/production/GpsSystem/GpsSystem.puml
  docs/uml-class-diagrams/admin/production/GpsSystem/GpsSystem.svg
  docs/uml-class-diagrams/admin/production/GpsSystem/GpsSystem_Closure.png
  docs/uml-class-diagrams/admin/production/GpsSystem/GpsSystem_Closure.svg
  docs/uml-class-diagrams/admin/production/GpsSystem/GpsSystem_DirectDependencies.png
  docs/uml-class-diagrams/admin/production/GpsSystem/GpsSystem_DirectDependencies.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_Closure.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_Closure.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_DirectDependencies.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_InternalDependencies.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_InternalDependencies.svg
  docs/uml-class-diagrams/admin/test/GpsSystemTests/GpsSystemTests.png
  docs/uml-class-diagrams/admin/test/GpsSystemTests/GpsSystemTests.puml
  docs/uml-class-diagrams/admin/test/GpsSystemTests/GpsSystemTests.svg
  docs/uml-class-diagrams/admin/test/GpsSystemTests/GpsSystemTests_Closure.png
  docs/uml-class-diagrams/admin/test/GpsSystemTests/GpsSystemTests_Closure.svg
  docs/uml-class-diagrams/admin/test/GpsSystemTests/GpsSystemTests_DirectDependencies.png
  docs/uml-class-diagrams/admin/test/GpsSystemTests/GpsSystemTests_DirectDependencies.svg
  src/main/java/edu/oakland/helper/admin/Satellite.java
  src/main/java/edu/oakland/production/admin/Demo.java
  src/main/java/edu/oakland/production/admin/GpsSystem.java
  src/main/java/edu/oakland/production/admin/Main.java
  src/main/java/edu/oakland/production/admin/User.java
  src/main/java/edu/oakland/production/database/DatabaseGisInterfaceImplementation.java
  src/main/java/edu/oakland/production/middleware02/MiddlewareCommLinkManagerImplementation.java
  src/test/java/edu/oakland/test/DisplayCommInterfaceStub.java
  src/test/java/edu/oakland/test/admin/DemoTests.java
  src/test/java/edu/oakland/test/admin/DisplayGpsInterfaceStub.java
  src/test/java/edu/oakland/test/admin/GpsSystemTests.java
  src/test/java/edu/oakland/test/admin/SatelliteTests.java
  src/test/java/edu/oakland/test/admin/UserTests.java
Labels: Admin, enhancement

#130 [Display_02] Build track data plotter
  .github/workflows/codecov.yml
  .github/workflows/gradle-build.yml
  build.gradle
  src/main/java/edu/oakland/helper/admin/TrackData.java
  src/main/java/edu/oakland/helper/display02/TrackDataPlotter.java
  src/test/java/edu/oakland/test/display02/TrackDataPlotterTests.java
Labels: Display_02, enhancement

#155 [Display_02] Update display comm interface implementation class
  src/main/java/edu/oakland/helper/admin/LocationDataPoint.java
  src/main/java/edu/oakland/helper/admin/TrackData.java
  src/main/java/edu/oakland/helper/display02/TrackDataPlotter.java
  src/main/java/edu/oakland/production/display02/DisplayCommInterfaceImplementation.java
  src/test/java/edu/oakland/test/admin/LocationDataPointTests.java
  src/test/java/edu/oakland/test/admin/TrackDataTests.java
  src/test/java/edu/oakland/test/display02/DisplayComm2WayInterfaceStub.java
  src/test/java/edu/oakland/test/display02/DisplayCommInterfaceImplementationTests.java
  src/test/java/edu/oakland/test/display02/TrackDataPlotterTests.java
Labels: Display_02, enhancement

#162 [Display_02] Update DisplayComm2WayInterfaceImplementation.puml
  docs/uml-class-diagrams/display02/Display02Packages.png
  docs/uml-class-diagrams/display02/Display02Packages.svg
  docs/uml-class-diagrams/display02/Display02Packages_Closure.png
  docs/uml-class-diagrams/display02/Display02Packages_Closure.svg
  docs/uml-class-diagrams/display02/Display02Packages_DirectDependencies.png
  docs/uml-class-diagrams/display02/Display02Packages_DirectDependencies.svg
  docs/uml-class-diagrams/display02/Display02Packages_InternalDependencies.png
  docs/uml-class-diagrams/display02/Display02Packages_InternalDependencies.svg
  docs/uml-class-diagrams/display02/production/Display02ProductionPackage.png
  docs/uml-class-diagrams/display02/production/Display02ProductionPackage.svg
  docs/uml-class-diagrams/display02/production/Display02ProductionPackage_Closure.png
  docs/uml-class-diagrams/display02/production/Display02ProductionPackage_Closure.svg
  docs/uml-class-diagrams/display02/production/Display02ProductionPackage_DirectDependencies.png
  docs/uml-class-diagrams/display02/production/Display02ProductionPackage_DirectDependencies.svg
  docs/uml-class-diagrams/display02/production/Display02ProductionPackage_InternalDependencies.png
  docs/uml-class-diagrams/display02/production/Display02ProductionPackage_InternalDependencies.svg
  docs/uml-class-diagrams/display02/production/DisplayComm2WayInterfaceImplementation/DisplayComm2WayInterfaceImplementation.png
  docs/uml-class-diagrams/display02/production/DisplayComm2WayInterfaceImplementation/DisplayComm2WayInterfaceImplementation.puml
  docs/uml-class-diagrams/display02/production/DisplayComm2WayInterfaceImplementation/DisplayComm2WayInterfaceImplementation.svg
  docs/uml-class-diagrams/display02/production/DisplayComm2WayInterfaceImplementation/DisplayComm2WayInterfaceImplementation_Closure.png
  docs/uml-class-diagrams/display02/production/DisplayComm2WayInterfaceImplementation/DisplayComm2WayInterfaceImplementation_Closure.svg
  docs/uml-class-diagrams/display02/production/DisplayComm2WayInterfaceImplementation/DisplayComm2WayInterfaceImplementation_DirectDependencies.png
  docs/uml-class-diagrams/display02/production/DisplayComm2WayInterfaceImplementation/DisplayComm2WayInterfaceImplementation_DirectDependencies.svg
  docs/uml-class-diagrams/display02/test/Display02TestPackage_Closure.png
  docs/uml-class-diagrams/display02/test/Display02TestPackage_Closure.svg
  docs/uml-class-diagrams/display02/test/Display02TestPackage_DirectDependencies.png
  docs/uml-class-diagrams/display02/test/Display02TestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/display02/test/DisplayComm2WayInterfaceImplementationTests/DisplayComm2WayInterfaceImplementationTests_Closure.png
  docs/uml-class-diagrams/display02/test/DisplayComm2WayInterfaceImplementationTests/DisplayComm2WayInterfaceImplementationTests_Closure.svg
  docs/uml-class-diagrams/display02/test/DisplayComm2WayInterfaceImplementationTests/DisplayComm2WayInterfaceImplementationTests_DirectDependencies.png
  docs/uml-class-diagrams/display02/test/DisplayComm2WayInterfaceImplementationTests/DisplayComm2WayInterfaceImplementationTests_DirectDependencies.svg
Labels: Display_02, documentation

#127 [Middleware_02] Building TrackDataCalculatorClass
  src/main/java/edu/oakland/helper/middleware02/TrackDataCalculator.java
  src/test/java/edu/oakland/test/middleware02/TrackDataCalculatorTests.java
Labels: Middleware_02, enhancement

#118 [Middleware_02] Build-MiddlewareCommLinkManager
  src/main/java/edu/oakland/helper/middleware02/TrackDataCalculator.java
  src/main/java/edu/oakland/production/middleware02/MiddlewareCommDatabaseInterface.java
  src/main/java/edu/oakland/production/middleware02/MiddlewareCommDatabaseInterfaceImplementation.java
  src/main/java/edu/oakland/production/middleware02/MiddlewareCommInterfaceImplementation.java
  src/main/java/edu/oakland/production/middleware02/MiddlewareCommLinkManager.java
  src/main/java/edu/oakland/production/middleware02/MiddlewareCommLinkManagerImplementation.java
  src/test/java/edu/oakland/test/middleware01/DatabaseGisInterfaceStub.java
  src/test/java/edu/oakland/test/middleware01/MiddlewareGisManagerStub.java
  src/test/java/edu/oakland/test/middleware02/DatabaseCommInterfaceStub.java
  src/test/java/edu/oakland/test/middleware02/MiddlewareCommDatabaseInterfaceImplementationTests.java
  src/test/java/edu/oakland/test/middleware02/MiddlewareCommDatabaseInterfaceStub.java
  src/test/java/edu/oakland/test/middleware02/MiddlewareCommLinkManagerImplementationTests.java
  src/test/java/edu/oakland/test/middleware02/MiddlewareCommLinkManagerStub.java
  src/test/java/edu/oakland/test/middleware02/TrackDataCalculatorTests.java
Labels: BREAKING CHANGE, Middleware_02, enhancement

#165 [Admin] Use Case 1 Integration Tests
  src/main/java/edu/oakland/helper/admin/TrackData.java
  src/main/java/edu/oakland/production/admin/Demo.java
  src/main/java/edu/oakland/production/admin/GpsSystem.java
  src/main/java/edu/oakland/production/admin/User.java
  src/test/java/edu/oakland/integration/DemoFullRunTests.java
  src/test/java/edu/oakland/integration/Uc1IntegrationTests.java
  src/test/java/edu/oakland/test/admin/DemoTests.java
  src/test/java/edu/oakland/test/middleware02/MiddlewareCommLinkManagerImplementationTests.java
Labels: Admin, enhancement

#169 [Middleware_01] Update Manager Tests
  docs/uml-class-diagrams/middleware01/Middleware01Packages.png
  docs/uml-class-diagrams/middleware01/Middleware01Packages.svg
  docs/uml-class-diagrams/middleware01/Middleware01Packages_Closure.png
  docs/uml-class-diagrams/middleware01/Middleware01Packages_Closure.svg
  docs/uml-class-diagrams/middleware01/Middleware01Packages_DirectDependencies.png
  docs/uml-class-diagrams/middleware01/Middleware01Packages_DirectDependencies.svg
  docs/uml-class-diagrams/middleware01/Middleware01Packages_InternalDependencies.png
  docs/uml-class-diagrams/middleware01/Middleware01Packages_InternalDependencies.svg
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage.png
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage.svg
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage_Closure.png
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage_Closure.svg
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage_DirectDependencies.png
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage_InternalDependencies.png
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage_InternalDependencies.svg
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisManagerImplementationTests/MiddlewareGisManagerImplementationTests.png
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisManagerImplementationTests/MiddlewareGisManagerImplementationTests.puml
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisManagerImplementationTests/MiddlewareGisManagerImplementationTests.svg
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisManagerImplementationTests/MiddlewareGisManagerImplementationTests_Closure.png
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisManagerImplementationTests/MiddlewareGisManagerImplementationTests_Closure.svg
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisManagerImplementationTests/MiddlewareGisManagerImplementationTests_DirectDependencies.png
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisManagerImplementationTests/MiddlewareGisManagerImplementationTests_DirectDependencies.svg
  src/main/java/edu/oakland/production/middleware01/MiddlewareGisManagerImplementation.java
  src/test/java/edu/oakland/test/middleware01/MiddlewareGisManagerImplementationTests.java
Labels: Middleware_01, bug

#174 [Admin] Create Use Case 1 and 2 Integration Tests, Bug Fixes, and README
  README.md
  src/main/java/edu/oakland/helper/admin/TrackData.java
  src/main/java/edu/oakland/helper/display02/TrackDataPlotter.java
  src/main/java/edu/oakland/helper/middleware02/TrackDataCalculator.java
  src/main/java/edu/oakland/production/admin/GpsSystem.java
  src/test/java/edu/oakland/integration/Uc1AndUc2IntegrationTests.java
  src/test/java/edu/oakland/test/admin/GpsSystemTests.java
  src/test/java/edu/oakland/test/middleware02/TrackDataCalculatorTests.java
Labels: Admin, bug, documentation, enhancement
