Repository andrewdimmer/csi-3370-software-project, pull requests merged in 2020-11, with the labels that each got.

#2 [Admin] Added Issue Templates and Teams.md
  .github/ISSUE_TEMPLATE/admin-bug-report.md
  .github/ISSUE_TEMPLATE/admin-sprint-tasks.md
  .github/ISSUE_TEMPLATE/database_01-bug-report.md
  .github/ISSUE_TEMPLATE/database_01-sprint-tasks.md
  .github/ISSUE_TEMPLATE/database_02-bug-report.md
  .github/ISSUE_TEMPLATE/database_02-sprint-tasks.md
  .github/ISSUE_TEMPLATE/display_01-bug-report.md
  .github/ISSUE_TEMPLATE/display_01-sprint-tasks.md
  .github/ISSUE_TEMPLATE/display_02-bug-report.md
  .github/ISSUE_TEMPLATE/display_02-sprint-tasks.md
  .github/ISSUE_TEMPLATE/middleware_01-bug-report.md
  .github/ISSUE_TEMPLATE/middleware_01-sprint-tasks.md
  .github/ISSUE_TEMPLATE/middleware_02-bug-report.md
  .github/ISSUE_TEMPLATE/middleware_02-sprint-tasks.md
  Teams.md
Labels: Admin

#3 [Admin] Added GitHub Documentation to the Repo
  docs/README.md
  docs/version-control/CodeReviews.md
  docs/version-control/GitHubProjects.md
  docs/version-control/Issues.md
  docs/version-control/README.md
  docs/version-control/WritingCode.md
Labels: Admin, documentation

#4 [Admin] Added Code Owners
  .github/CODEOWNERS
  docs/README.md
Labels: Admin

#5 [Admin] Added GitHub Automated Style, Build, and Test Checks
  .github/workflows/checkstyle.yml
  .github/workflows/javac-build.yml
Labels: Admin

#7 [Admin] Create Initial Java Package Structure
  .gitignore
  bin/.gitignore
  source/edu/oakand/production/admin/Demo.java
Labels: Admin

#8 [Display_02] Display2 class uml diagram
  docs/uml-class-diagrams/display02/production/DisplayComm2WayInterface/DisplayComm2WayInterface.puml
  docs/uml-class-diagrams/display02/production/DisplayComm2WayInterfaceImplementation/DisplayComm2WayInterfaceImplementation.puml
  docs/uml-class-diagrams/display02/production/DisplayCommInterface/DisplayCommInterface.puml
  docs/uml-class-diagrams/display02/production/DisplayCommManager/DisplayCommManager.puml
Labels: Display_02, documentation

#11 [Middleware_01] Create public UML diagrams
  .gitignore
  docs/uml-class-diagrams/middleware01/production/Middleware01Package.png
  docs/uml-class-diagrams/middleware01/production/Middleware01ProductionPackage_DirectDependencies.png
  docs/uml-class-diagrams/middleware01/production/Middleware01ProductionPackage_InternalDependencies.png
  docs/uml-class-diagrams/middleware01/production/MiddlewareGisInterface/MiddlewareGisInterface.puml
  docs/uml-class-diagrams/middleware01/production/MiddlewareGisManager/MiddlewareGisManager.puml
  docs/uml-class-diagrams/middleware01/production/MiddlewareGisProcessor/MiddlewareGisProcessor.puml
Labels: Middleware_01, documentation

#10 [Admin] Update Issue Templates for Database
  .github/ISSUE_TEMPLATE/database-bug-report.md
  .github/ISSUE_TEMPLATE/database-sprint-tasks.md
  .github/ISSUE_TEMPLATE/database_01-bug-report.md
  .github/ISSUE_TEMPLATE/database_01-sprint-tasks.md
Labels: Admin, Database

#12 [Database] Added Database Public Interface UML Class Diagrams
  docs/uml-class-diagrams/database01/production/DatabaseGisInterface/DatabaseGisInterface.puml
  docs/uml-class-diagrams/database01/production/DatabaseGisInterfaceImplementation/DatabaseGisInterfaceImplementation.puml
  docs/uml-class-diagrams/database01/production/DatabaseGisManager/DatabaseGisManager.puml
  docs/uml-class-diagrams/database01/production/DatabaseGisManagerImplementation/DatabaseGisManagerImplementation.puml
  docs/uml-class-diagrams/database01/production/DatabaseGisPersistentStorage/DatabaseGisPersistentStorage.puml
  docs/uml-class-diagrams/database02/production/DatabaseCommInterface/DatabaseCommInterface.puml
  docs/uml-class-diagrams/database02/production/DatabaseCommManager/DatabaseCommManager.puml
  docs/uml-class-diagrams/database02/production/DatabaseCommPersistentStorage/DatabaseCommPersistentStorage.puml
Labels: Database, documentation

#9 [Middleware_02] Created Public Methods UML Class Diagrams
  docs/uml-class-diagrams/middleware02/production/MiddlewareCommDatabaseInterface/MiddlewareCommDatabaseInterface.puml
  docs/uml-class-diagrams/middleware02/production/MiddlewareCommInterface/MiddlewareCommInterface.puml
  docs/uml-class-diagrams/middleware02/production/MiddlewareCommInterfaceImplementation/MiddlewareCommInterfaceImplementation.puml
  docs/uml-class-diagrams/middleware02/production/MiddlewareCommLinkManager/MiddlewareCommLinkManager.puml
Labels: Middleware_02, documentation

#13 [ALL_TEAMS] Migrate Build System to Gradle
  .gitattributes
  .github/workflows/gradle-build.yml
  .github/workflows/javac-build.yml
  .gitignore
  bin/.gitignore
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  settings.gradle
  src/main/java/edu/oakland/production/admin/Demo.java
  src/test/java/edu/oakland/test/admin/Junit5ExampleTest.java
Labels: Admin, BREAKING CHANGE, Database, Display_01, Display_02, Middleware_01, Middleware_02

#16 [Display_01] Update Display_01 Public Interface UML Class Diagrams
  docs/uml-class-diagrams/display01/production/DisplayGpsInterface/DisplayGpsInterface.puml
  docs/uml-class-diagrams/display01/production/DisplayGpsManager/DisplayGpsManager.puml
  docs/uml-class-diagrams/display01/production/DisplayGpsReceiver/DisplayGpsReceiver.puml
Labels: Display_01, documentation

#19 [Admin] Fix CODEOWNERS
  .github/CODEOWNERS
  .github/workflows/github-codeowners-validator.yml
Labels: Admin

#20 [Admin] Enable Manual Runs of the Codeowners Validation Check
  .github/CODEOWNERS
  .github/workflows/github-codeowners-validator.yml
Labels: Admin

#21 [Admin] Removed CODEOWNER Validation Bot
  .github/workflows/github-codeowners-validator.yml
Labels: Admin

#25 [Admin] Create Public Interfaces and Shared Data Types
  src/main/java/edu/oakland/helper/admin/LocationDataPoint.java
  src/main/java/edu/oakland/helper/admin/Satellite.java
  src/main/java/edu/oakland/helper/admin/TrackData.java
Labels: Admin, enhancement

#22 [Admin] Add Code Coverage Checks
  .github/workflows/codecov.yml
  .github/workflows/gradle-build.yml
  README.md
  build.gradle
Labels: Admin

#32 [Admin] Added Ignore JEdit Temp File
  .gitignore
Labels: Admin, bug

#33 [Middleware_02] Create Public Interfaces and Shared Data Types
  src/main/java/edu/oakland/production/middleware02/MiddlewareCommDatabaseInterface.java
  src/main/java/edu/oakland/production/middleware02/MiddlewareCommInterface.java
  src/main/java/edu/oakland/production/middleware02/MiddlewareCommLinkManager.java
Labels: Middleware_02, enhancement

#35 [Middleware01] Create Public Interfaces and shared data types
  docs/uml-class-diagrams/middleware01/Middleware01Packages.png
  docs/uml-class-diagrams/middleware01/Middleware01Packages.svg
  docs/uml-class-diagrams/middleware01/Middleware01Packages_DirectDependencies.png
  docs/uml-class-diagrams/middleware01/Middleware01Packages_DirectDependencies.svg
  docs/uml-class-diagrams/middleware01/Middleware01Packages_InternalDependencies.png
  docs/uml-class-diagrams/middleware01/Middleware01Packages_InternalDependencies.svg
  docs/uml-class-diagrams/middleware01/production/Middleware01Package.png
  docs/uml-class-diagrams/middleware01/production/Middleware01Package.svg
  docs/uml-class-diagrams/middleware01/production/Middleware01ProductionPackage_DirectDependencies.png
  docs/uml-class-diagrams/middleware01/production/Middleware01ProductionPackage_DirectDependencies.svg
  docs/uml-class-diagrams/middleware01/production/Middleware01ProductionPackage_InternalDependencies.png
  docs/uml-class-diagrams/middleware01/production/Middleware01ProductionPackage_InternalDependencies.svg
  docs/uml-class-diagrams/middleware01/production/MiddlewareGisManager/MiddlewareGisManager.png
  docs/uml-class-diagrams/middleware01/production/MiddlewareGisManager/MiddlewareGisManager.puml
  docs/uml-class-diagrams/middleware01/production/MiddlewareGisManager/MiddlewareGisManager.svg
  docs/uml-class-diagrams/middleware01/production/MiddlewareGisManager/MiddlewareGisManager_DirectDependencies.png
  docs/uml-class-diagrams/middleware01/production/MiddlewareGisManager/MiddlewareGisManager_DirectDependencies.svg
  docs/uml-class-diagrams/middleware01/production/MiddlewareGisManagerImplementation/MiddlewareGisManagerImplementation_DirectDependencies.png
  docs/uml-class-diagrams/middleware01/production/MiddlewareGisManagerImplementation/MiddlewareGisManagerImplementation_DirectDependencies.svg
  src/main/java/edu/oakland/production/middleware01/MiddlewareGisInterface.java
  src/main/java/edu/oakland/production/middleware01/MiddlewareGisManager.java
  src/main/java/edu/oakland/production/middleware01/MiddlewareGisProcessor.java
Labels: Middleware_01, documentation, enhancement

#34 [Display_02] Create Public Interfaces and Shared Data Types
  src/main/java/edu/oakland/production/display02/DisplayComm2WayInterface.java
  src/main/java/edu/oakland/production/display02/DisplayCommInterface.java
  src/main/java/edu/oakland/production/display02/DisplayCommManager.java
Labels: Display_02, enhancement

#42 [Database] Create Public Interfaces and Shared Data Types
  src/main/java/edu/oakland/production/database/DatabaseCommInterface.java
  src/main/java/edu/oakland/production/database/DatabaseCommManager.java
  src/main/java/edu/oakland/production/database/DatabaseGisInterface.java
  src/main/java/edu/oakland/production/database/DatabaseGisManager.java
  src/main/java/edu/oakland/production/database/DatabasePersistentStorage.java
Labels: Database, enhancement

#31 [Display_01] Create Public Interfaces and Shared Data Types
  docs/uml-class-diagrams/display01/Display01Packages.png
  docs/uml-class-diagrams/display01/Display01Packages.svg
  docs/uml-class-diagrams/display01/Display01Packages_DirectDependencies.png
  docs/uml-class-diagrams/display01/Display01Packages_DirectDependencies.svg
  docs/uml-class-diagrams/display01/Display01Packages_InternalDependencies.png
  docs/uml-class-diagrams/display01/Display01Packages_InternalDependencies.svg
  docs/uml-class-diagrams/display01/production/DISPLAY01_PRODUCTIONPackage.png
  docs/uml-class-diagrams/display01/production/DISPLAY01_PRODUCTIONPackage.svg
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage_DirectDependencies.png
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage_DirectDependencies.svg
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage_InternalDependencies.png
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage_InternalDependencies.svg
  docs/uml-class-diagrams/display01/production/DisplayGpsInterface/DisplayGpsInterface.png
  docs/uml-class-diagrams/display01/production/DisplayGpsInterface/DisplayGpsInterface.puml
  docs/uml-class-diagrams/display01/production/DisplayGpsInterface/DisplayGpsInterface.svg
  docs/uml-class-diagrams/display01/production/DisplayGpsInterface/DisplayGpsInterface_DirectDependencies.png
  docs/uml-class-diagrams/display01/production/DisplayGpsInterface/DisplayGpsInterface_DirectDependencies.svg
  docs/uml-class-diagrams/display01/production/DisplayGpsInterfaceImplementation/DisplayGpsInterfaceImplementation_DirectDependencies.png
  docs/uml-class-diagrams/display01/production/DisplayGpsInterfaceImplementation/DisplayGpsInterfaceImplementation_DirectDependencies.svg
  docs/uml-class-diagrams/display01/production/DisplayGpsManager/DisplayGpsManager.png
  docs/uml-class-diagrams/display01/production/DisplayGpsManager/DisplayGpsManager.puml
  docs/uml-class-diagrams/display01/production/DisplayGpsManager/DisplayGpsManager.svg
  docs/uml-class-diagrams/display01/production/DisplayGpsManager/DisplayGpsManager_DirectDependencies.png
  docs/uml-class-diagrams/display01/production/DisplayGpsManager/DisplayGpsManager_DirectDependencies.svg
  docs/uml-class-diagrams/display01/production/DisplayGpsManagerImplementation/DisplayGpsManagerImplementation_DirectDependencies.png
  docs/uml-class-diagrams/display01/production/DisplayGpsManagerImplementation/DisplayGpsManagerImplementation_DirectDependencies.svg
  src/main/java/edu/oakland/helper/display01/SatelliteSignalCheckRequest.java
  src/main/java/edu/oakland/production/display01/DisplayGpsInterface.java
  src/main/java/edu/oakland/production/display01/DisplayGpsInterfaceImplementation.java
  src/main/java/edu/oakland/production/display01/DisplayGpsManager.java
  src/main/java/edu/oakland/production/display01/DisplayGpsManagerImplementation.java
  src/main/java/edu/oakland/production/display01/DisplayGpsReceiver.java
  src/main/java/edu/oakland/production/display01/DisplayGpsReceiverImplementation.java
Labels: BREAKING CHANGE, Display_01, documentation, enhancement

#44 [Admin] Allow Forced Regeneration of PlantUML Diagrams
  .github/workflows/generate-plantuml-diagrams.yml
Labels: Admin, documentation

#47 [Display_01] Document Some Internal Class Implementation
  docs/uml-class-diagrams/display01/Display01Packages.png
  docs/uml-class-diagrams/display01/Display01Packages.svg
  docs/uml-class-diagrams/display01/Display01Packages_Closure.png
  docs/uml-class-diagrams/display01/Display01Packages_Closure.svg
  docs/uml-class-diagrams/display01/Display01Packages_DirectDependencies.png
  docs/uml-class-diagrams/display01/Display01Packages_DirectDependencies.svg
  docs/uml-class-diagrams/display01/Display01Packages_InternalDependencies.png
  docs/uml-class-diagrams/display01/Display01Packages_InternalDependencies.svg
  docs/uml-class-diagrams/display01/production/DISPLAY01_PRODUCTIONPackage.svg
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage.png
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage.svg
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage_Closure.png
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage_Closure.svg
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage_DirectDependencies.png
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage_DirectDependencies.svg
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage_InternalDependencies.png
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage_InternalDependencies.svg
  docs/uml-class-diagrams/display01/production/DisplayGpsInterfaceImplementation/DisplayGpsInterfaceImplementation.png
  docs/uml-class-diagrams/display01/production/DisplayGpsInterfaceImplementation/DisplayGpsInterfaceImplementation.puml
  docs/uml-class-diagrams/display01/production/DisplayGpsInterfaceImplementation/DisplayGpsInterfaceImplementation.svg
  docs/uml-class-diagrams/display01/production/DisplayGpsInterfaceImplementation/DisplayGpsInterfaceImplementation_Closure.png
  docs/uml-class-diagrams/display01/production/DisplayGpsInterfaceImplementation/DisplayGpsInterfaceImplementation_Closure.svg
  docs/uml-class-diagrams/display01/production/DisplayGpsInterfaceImplementation/DisplayGpsInterfaceImplementation_DirectDependencies.png
  docs/uml-class-diagrams/display01/production/DisplayGpsInterfaceImplementation/DisplayGpsInterfaceImplementation_DirectDependencies.svg
  docs/uml-class-diagrams/display01/test/Display01TestPackage_Closure.png
  docs/uml-class-diagrams/display01/test/Display01TestPackage_Closure.svg
  docs/uml-class-diagrams/display01/test/Display01TestPackage_DirectDependencies.png
  docs/uml-class-diagrams/display01/test/Display01TestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/display01/test/DisplayGpsInterfaceImplementationTests/DisplayGpsInterfaceImplementationTests_Closure.png
  docs/uml-class-diagrams/display01/test/DisplayGpsInterfaceImplementationTests/DisplayGpsInterfaceImplementationTests_Closure.svg
  docs/uml-class-diagrams/display01/test/DisplayGpsInterfaceImplementationTests/DisplayGpsInterfaceImplementationTests_DirectDependencies.png
  docs/uml-class-diagrams/display01/test/DisplayGpsInterfaceImplementationTests/DisplayGpsInterfaceImplementationTests_DirectDependencies.svg
Labels: Display_01, documentation

#72 [Admin] Define LocationDataPointTests
  docs/uml-class-diagrams/admin/AdminPackages.png
  docs/uml-class-diagrams/admin/AdminPackages.svg
  docs/uml-class-diagrams/admin/AdminPackages_Closure.png
  docs/uml-class-diagrams/admin/AdminPackages_Closure.svg
  docs/uml-class-diagrams/admin/AdminPackages_DirectDependencies.png
  docs/uml-class-diagrams/admin/AdminPackages_DirectDependencies.svg
  docs/uml-class-diagrams/admin/AdminPackages_InternalDependencies.png
  docs/uml-class-diagrams/admin/AdminPackages_InternalDependencies.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_Closure.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_Closure.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_DirectDependencies.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_InternalDependencies.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_InternalDependencies.svg
  docs/uml-class-diagrams/admin/test/LocationDataPointTests/LocationDataPointTests.png
  docs/uml-class-diagrams/admin/test/LocationDataPointTests/LocationDataPointTests.puml
  docs/uml-class-diagrams/admin/test/LocationDataPointTests/LocationDataPointTests.svg
  docs/uml-class-diagrams/admin/test/LocationDataPointTests/LocationDataPointTests_Closure.png
  docs/uml-class-diagrams/admin/test/LocationDataPointTests/LocationDataPointTests_Closure.svg
  docs/uml-class-diagrams/admin/test/LocationDataPointTests/LocationDataPointTests_DirectDependencies.png
  docs/uml-class-diagrams/admin/test/LocationDataPointTests/LocationDataPointTests_DirectDependencies.svg
Labels: Admin, documentation

#78 Update DisplayComm2WayInterfaceImplementation.puml
  docs/uml-class-diagrams/display02/Display02Packages.png
  docs/uml-class-diagrams/display02/Display02Packages.svg
  docs/uml-class-diagrams/display02/Display02Packages_Closure.png
  docs/uml-class-diagrams/display02/Display02Packages_Closure.svg
  docs/uml-class-diagrams/display02/Display02Packages_DirectDependencies.png
  docs/uml-class-diagrams/display02/Display02Packages_DirectDependencies.svg
  docs/uml-class-diagrams/display02/Display02Packages_InternalDependencies.png
  docs/uml-class-diagrams/display02/Display02Packages_InternalDependencies.svg
  docs/uml-class-diagrams/display02/production/Display02ProductionPackage.png
  docs/uml-class-diagrams/display02/production/Display02ProductionPackage.svg
  docs/uml-class-diagrams/display02/production/Display02ProductionPackage_Closure.png
  docs/uml-class-diagrams/display02/production/Display02ProductionPackage_Closure.svg
  docs/uml-class-diagrams/display02/production/Display02ProductionPackage_DirectDependencies.png
  docs/uml-class-diagrams/display02/production/Display02ProductionPackage_DirectDependencies.svg
  docs/uml-class-diagrams/display02/production/Display02ProductionPackage_InternalDependencies.png
  docs/uml-class-diagrams/display02/production/Display02ProductionPackage_InternalDependencies.svg
  docs/uml-class-diagrams/display02/production/DisplayComm2WayInterfaceImplementation/DisplayComm2WayInterfaceImplementation.png
  docs/uml-class-diagrams/display02/production/DisplayComm2WayInterfaceImplementation/DisplayComm2WayInterfaceImplementation.puml
  docs/uml-class-diagrams/display02/production/DisplayComm2WayInterfaceImplementation/DisplayComm2WayInterfaceImplementation.svg
  docs/uml-class-diagrams/display02/production/DisplayComm2WayInterfaceImplementation/DisplayComm2WayInterfaceImplementation_Closure.png
  docs/uml-class-diagrams/display02/production/DisplayComm2WayInterfaceImplementation/DisplayComm2WayInterfaceImplementation_Closure.svg
  docs/uml-class-diagrams/display02/production/DisplayComm2WayInterfaceImplementation/DisplayComm2WayInterfaceImplementation_DirectDependencies.png
  docs/uml-class-diagrams/display02/production/DisplayComm2WayInterfaceImplementation/DisplayComm2WayInterfaceImplementation_DirectDependencies.svg
  docs/uml-class-diagrams/display02/test/Display02TestPackage_Closure.png
  docs/uml-class-diagrams/display02/test/Display02TestPackage_Closure.svg
  docs/uml-class-diagrams/display02/test/Display02TestPackage_DirectDependencies.png
  docs/uml-class-diagrams/display02/test/Display02TestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/display02/test/DisplayComm2WayInterfaceImplementationTests/DisplayComm2WayInterfaceImplementationTests_Closure.png
  docs/uml-class-diagrams/display02/test/DisplayComm2WayInterfaceImplementationTests/DisplayComm2WayInterfaceImplementationTests_Closure.svg
  docs/uml-class-diagrams/display02/test/DisplayComm2WayInterfaceImplementationTests/DisplayComm2WayInterfaceImplementationTests_DirectDependencies.png
  docs/uml-class-diagrams/display02/test/DisplayComm2WayInterfaceImplementationTests/DisplayComm2WayInterfaceImplementationTests_DirectDependencies.svg
Labels: Display_02, documentation

#77 [Admin] Define SatelliteTests
  docs/uml-class-diagrams/admin/AdminPackages.png
  docs/uml-class-diagrams/admin/AdminPackages.svg
  docs/uml-class-diagrams/admin/AdminPackages_Closure.png
  docs/uml-class-diagrams/admin/AdminPackages_Closure.svg
  docs/uml-class-diagrams/admin/AdminPackages_DirectDependencies.png
  docs/uml-class-diagrams/admin/AdminPackages_DirectDependencies.svg
  docs/uml-class-diagrams/admin/AdminPackages_InternalDependencies.png
  docs/uml-class-diagrams/admin/AdminPackages_InternalDependencies.svg
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage.png
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage.svg
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage_Closure.png
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage_Closure.svg
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage_DirectDependencies.png
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage_DirectDependencies.svg
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage_InternalDependencies.png
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage_InternalDependencies.svg
  docs/uml-class-diagrams/admin/helper/Satellite/Satellite.png
  docs/uml-class-diagrams/admin/helper/Satellite/Satellite.puml
  docs/uml-class-diagrams/admin/helper/Satellite/Satellite.svg
  docs/uml-class-diagrams/admin/helper/Satellite/Satellite_Closure.png
  docs/uml-class-diagrams/admin/helper/Satellite/Satellite_Closure.svg
  docs/uml-class-diagrams/admin/helper/Satellite/Satellite_DirectDependencies.png
  docs/uml-class-diagrams/admin/helper/Satellite/Satellite_DirectDependencies.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_Closure.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_Closure.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_DirectDependencies.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_InternalDependencies.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_InternalDependencies.svg
  docs/uml-class-diagrams/admin/test/SatelliteTests/SatelliteTests.png
  docs/uml-class-diagrams/admin/test/SatelliteTests/SatelliteTests.puml
  docs/uml-class-diagrams/admin/test/SatelliteTests/SatelliteTests.svg
  docs/uml-class-diagrams/admin/test/SatelliteTests/SatelliteTests_Closure.png
  docs/uml-class-diagrams/admin/test/SatelliteTests/SatelliteTests_Closure.svg
  docs/uml-class-diagrams/admin/test/SatelliteTests/SatelliteTests_DirectDependencies.png
  docs/uml-class-diagrams/admin/test/SatelliteTests/SatelliteTests_DirectDependencies.svg
Labels: Admin, documentation

#88 [Admin] Define DemoTests
  docs/uml-class-diagrams/admin/AdminPackages.png
  docs/uml-class-diagrams/admin/AdminPackages.svg
  docs/uml-class-diagrams/admin/AdminPackages_Closure.png
  docs/uml-class-diagrams/admin/AdminPackages_Closure.svg
  docs/uml-class-diagrams/admin/AdminPackages_DirectDependencies.png
  docs/uml-class-diagrams/admin/AdminPackages_DirectDependencies.svg
  docs/uml-class-diagrams/admin/AdminPackages_InternalDependencies.png
  docs/uml-class-diagrams/admin/AdminPackages_InternalDependencies.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_Closure.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_Closure.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_DirectDependencies.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_InternalDependencies.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_InternalDependencies.svg
  docs/uml-class-diagrams/admin/test/DemoTests/DemoTests.png
  docs/uml-class-diagrams/admin/test/DemoTests/DemoTests.puml
  docs/uml-class-diagrams/admin/test/DemoTests/DemoTests.svg
  docs/uml-class-diagrams/admin/test/DemoTests/DemoTests_Closure.png
  docs/uml-class-diagrams/admin/test/DemoTests/DemoTests_Closure.svg
  docs/uml-class-diagrams/admin/test/DemoTests/DemoTests_DirectDependencies.png
  docs/uml-class-diagrams/admin/test/DemoTests/DemoTests_DirectDependencies.svg
Labels: Admin, documentation

#87 [Admin] Build LocationDataPoint
  docs/uml-class-diagrams/admin/AdminPackages.png
  docs/uml-class-diagrams/admin/AdminPackages.svg
  docs/uml-class-diagrams/admin/AdminPackages_Closure.png
  docs/uml-class-diagrams/admin/AdminPackages_Closure.svg
  docs/uml-class-diagrams/admin/AdminPackages_DirectDependencies.png
  docs/uml-class-diagrams/admin/AdminPackages_DirectDependencies.svg
  docs/uml-class-diagrams/admin/AdminPackages_InternalDependencies.png
  docs/uml-class-diagrams/admin/AdminPackages_InternalDependencies.svg
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage.png
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage.svg
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage_Closure.png
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage_Closure.svg
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage_DirectDependencies.png
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage_DirectDependencies.svg
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage_InternalDependencies.png
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage_InternalDependencies.svg
  docs/uml-class-diagrams/admin/helper/LocationDataPoint/LocationDataPoint.png
  docs/uml-class-diagrams/admin/helper/LocationDataPoint/LocationDataPoint.puml
  docs/uml-class-diagrams/admin/helper/LocationDataPoint/LocationDataPoint.svg
  docs/uml-class-diagrams/admin/helper/LocationDataPoint/LocationDataPoint_Closure.png
  docs/uml-class-diagrams/admin/helper/LocationDataPoint/LocationDataPoint_Closure.svg
  docs/uml-class-diagrams/admin/helper/LocationDataPoint/LocationDataPoint_DirectDependencies.png
  docs/uml-class-diagrams/admin/helper/LocationDataPoint/LocationDataPoint_DirectDependencies.svg
  docs/uml-class-diagrams/admin/helper/Satellite/Satellite_Closure.png
  docs/uml-class-diagrams/admin/helper/Satellite/Satellite_Closure.svg
  docs/uml-class-diagrams/admin/helper/Satellite/Satellite_DirectDependencies.png
  docs/uml-class-diagrams/admin/helper/Satellite/Satellite_DirectDependencies.svg
  docs/uml-class-diagrams/admin/helper/TrackData/TrackData_Closure.png
  docs/uml-class-diagrams/admin/helper/TrackData/TrackData_Closure.svg
  docs/uml-class-diagrams/admin/helper/TrackData/TrackData_DirectDependencies.png
  docs/uml-class-diagrams/admin/helper/TrackData/TrackData_DirectDependencies.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_Closure.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_Closure.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_DirectDependencies.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_InternalDependencies.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_InternalDependencies.svg
  docs/uml-class-diagrams/admin/test/LocationDataPointTests/LocationDataPointTests.png
  docs/uml-class-diagrams/admin/test/LocationDataPointTests/LocationDataPointTests.puml
  docs/uml-class-diagrams/admin/test/LocationDataPointTests/LocationDataPointTests.svg
  docs/uml-class-diagrams/admin/test/LocationDataPointTests/LocationDataPointTests_Closure.png
  docs/uml-class-diagrams/admin/test/LocationDataPointTests/LocationDataPointTests_Closure.svg
  docs/uml-class-diagrams/admin/test/LocationDataPointTests/LocationDataPointTests_DirectDependencies.png
  docs/uml-class-diagrams/admin/test/LocationDataPointTests/LocationDataPointTests_DirectDependencies.svg
  docs/uml-class-diagrams/admin/test/SatelliteTests/SatelliteTests_Closure.png
  docs/uml-class-diagrams/admin/test/SatelliteTests/SatelliteTests_Closure.svg
  docs/uml-class-diagrams/admin/test/TrackDataTests/TrackDataTests_Closure.png
  docs/uml-class-diagrams/admin/test/TrackDataTests/TrackDataTests_Closure.svg
  src/main/java/edu/oakland/helper/admin/LocationDataPoint.java
  src/test/java/edu/oakland/test/admin/Junit5ExampleTest.java
  src/test/java/edu/oakland/test/admin/LocationDataPointTests.java
Labels: Admin, enhancement

#89 [Admin] Define UserTests
  docs/uml-class-diagrams/admin/AdminPackages.png
  docs/uml-class-diagrams/admin/AdminPackages.svg
  docs/uml-class-diagrams/admin/AdminPackages_Closure.png
  docs/uml-class-diagrams/admin/AdminPackages_Closure.svg
  docs/uml-class-diagrams/admin/AdminPackages_DirectDependencies.png
  docs/uml-class-diagrams/admin/AdminPackages_DirectDependencies.svg
  docs/uml-class-diagrams/admin/AdminPackages_InternalDependencies.png
  docs/uml-class-diagrams/admin/AdminPackages_InternalDependencies.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_Closure.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_Closure.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_DirectDependencies.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_InternalDependencies.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_InternalDependencies.svg
  docs/uml-class-diagrams/admin/test/UserTests/UserTests.png
  docs/uml-class-diagrams/admin/test/UserTests/UserTests.puml
  docs/uml-class-diagrams/admin/test/UserTests/UserTests.svg
  docs/uml-class-diagrams/admin/test/UserTests/UserTests_Closure.png
  docs/uml-class-diagrams/admin/test/UserTests/UserTests_Closure.svg
  docs/uml-class-diagrams/admin/test/UserTests/UserTests_DirectDependencies.png
  docs/uml-class-diagrams/admin/test/UserTests/UserTests_DirectDependencies.svg
Labels: Admin, documentation

#75 [Middleware_01] Define MiddlewareGisTests
  docs/uml-class-diagrams/middleware01/Middleware01Packages.png
  docs/uml-class-diagrams/middleware01/Middleware01Packages.svg
  docs/uml-class-diagrams/middleware01/Middleware01Packages_Closure.png
  docs/uml-class-diagrams/middleware01/Middleware01Packages_Closure.svg
  docs/uml-class-diagrams/middleware01/Middleware01Packages_DirectDependencies.png
  docs/uml-class-diagrams/middleware01/Middleware01Packages_DirectDependencies.svg
  docs/uml-class-diagrams/middleware01/Middleware01Packages_InternalDependencies.png
  docs/uml-class-diagrams/middleware01/Middleware01Packages_InternalDependencies.svg
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage.png
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage.svg
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage_Closure.png
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage_Closure.svg
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage_DirectDependencies.png
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage_InternalDependencies.png
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage_InternalDependencies.svg
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisInterfaceImplementationTests/MiddlewareGisInterfaceImplementationTests.png
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisInterfaceImplementationTests/MiddlewareGisInterfaceImplementationTests.puml
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisInterfaceImplementationTests/MiddlewareGisInterfaceImplementationTests.svg
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisInterfaceImplementationTests/MiddlewareGisInterfaceImplementationTests_Closure.png
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisInterfaceImplementationTests/MiddlewareGisInterfaceImplementationTests_Closure.svg
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisInterfaceImplementationTests/MiddlewareGisInterfaceImplementationTests_DirectDependencies.png
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisInterfaceImplementationTests/MiddlewareGisInterfaceImplementationTests_DirectDependencies.svg
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisManagerImplementationTests/MiddlewareGisManagerImplementationTests.png
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisManagerImplementationTests/MiddlewareGisManagerImplementationTests.puml
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisManagerImplementationTests/MiddlewareGisManagerImplementationTests.svg
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisManagerImplementationTests/MiddlewareGisManagerImplementationTests_Closure.png
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisManagerImplementationTests/MiddlewareGisManagerImplementationTests_Closure.svg
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisManagerImplementationTests/MiddlewareGisManagerImplementationTests_DirectDependencies.png
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisManagerImplementationTests/MiddlewareGisManagerImplementationTests_DirectDependencies.svg
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisProcessorImplementationTests/MiddlewareGisProcessorImplementationTests.png
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisProcessorImplementationTests/MiddlewareGisProcessorImplementationTests.puml
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisProcessorImplementationTests/MiddlewareGisProcessorImplementationTests.svg
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisProcessorImplementationTests/MiddlewareGisProcessorImplementationTests_Closure.png
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisProcessorImplementationTests/MiddlewareGisProcessorImplementationTests_Closure.svg
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisProcessorImplementationTests/MiddlewareGisProcessorImplementationTests_DirectDependencies.png
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisProcessorImplementationTests/MiddlewareGisProcessorImplementationTests_DirectDependencies.svg
Labels: Middleware_01, documentation

#95 [Admin] BREAKING CHANGE: Satellite Configuration is Static
  docs/uml-class-diagrams/admin/AdminPackages.png
  docs/uml-class-diagrams/admin/AdminPackages.svg
  docs/uml-class-diagrams/admin/AdminPackages_Closure.png
  docs/uml-class-diagrams/admin/AdminPackages_Closure.svg
  docs/uml-class-diagrams/admin/AdminPackages_DirectDependencies.png
  docs/uml-class-diagrams/admin/AdminPackages_DirectDependencies.svg
  docs/uml-class-diagrams/admin/AdminPackages_InternalDependencies.png
  docs/uml-class-diagrams/admin/AdminPackages_InternalDependencies.svg
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage.png
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage.svg
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage_Closure.png
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage_Closure.svg
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage_DirectDependencies.png
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage_DirectDependencies.svg
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage_InternalDependencies.png
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage_InternalDependencies.svg
  docs/uml-class-diagrams/admin/helper/Satellite/Satellite.png
  docs/uml-class-diagrams/admin/helper/Satellite/Satellite.puml
  docs/uml-class-diagrams/admin/helper/Satellite/Satellite.svg
  docs/uml-class-diagrams/admin/helper/Satellite/Satellite_Closure.png
  docs/uml-class-diagrams/admin/helper/Satellite/Satellite_Closure.svg
  docs/uml-class-diagrams/admin/helper/Satellite/Satellite_DirectDependencies.png
  docs/uml-class-diagrams/admin/helper/Satellite/Satellite_DirectDependencies.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_Closure.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_Closure.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_DirectDependencies.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_InternalDependencies.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_InternalDependencies.svg
  docs/uml-class-diagrams/admin/test/SatelliteTests/SatelliteTests.png
  docs/uml-class-diagrams/admin/test/SatelliteTests/SatelliteTests.puml
  docs/uml-class-diagrams/admin/test/SatelliteTests/SatelliteTests.svg
  docs/uml-class-diagrams/admin/test/SatelliteTests/SatelliteTests_Closure.png
  docs/uml-class-diagrams/admin/test/SatelliteTests/SatelliteTests_Closure.svg
  docs/uml-class-diagrams/admin/test/SatelliteTests/SatelliteTests_DirectDependencies.png
  docs/uml-class-diagrams/admin/test/SatelliteTests/SatelliteTests_DirectDependencies.svg
Labels: Admin, BREAKING CHANGE, bug, documentation

#100 [Admin] Define TrackDataTests
  docs/uml-class-diagrams/admin/AdminPackages.png
  docs/uml-class-diagrams/admin/AdminPackages.svg
  docs/uml-class-diagrams/admin/AdminPackages_Closure.png
  docs/uml-class-diagrams/admin/AdminPackages_Closure.svg
  docs/uml-class-diagrams/admin/AdminPackages_DirectDependencies.png
  docs/uml-class-diagrams/admin/AdminPackages_DirectDependencies.svg
  docs/uml-class-diagrams/admin/AdminPackages_InternalDependencies.png
  docs/uml-class-diagrams/admin/AdminPackages_InternalDependencies.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_Closure.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_Closure.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_DirectDependencies.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_InternalDependencies.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_InternalDependencies.svg
  docs/uml-class-diagrams/admin/test/TrackDataTests/TrackDataTests.png
  docs/uml-class-diagrams/admin/test/TrackDataTests/TrackDataTests.puml
  docs/uml-class-diagrams/admin/test/TrackDataTests/TrackDataTests.svg
  docs/uml-class-diagrams/admin/test/TrackDataTests/TrackDataTests_Closure.png
  docs/uml-class-diagrams/admin/test/TrackDataTests/TrackDataTests_Closure.svg
  docs/uml-class-diagrams/admin/test/TrackDataTests/TrackDataTests_DirectDependencies.png
  docs/uml-class-diagrams/admin/test/TrackDataTests/TrackDataTests_DirectDependencies.svg
Labels: Admin, documentation

#90 [Middleware_02] Define TrackDataCalculatorTest
  docs/uml-class-diagrams/middleware02/Middleware02Packages.png
  docs/uml-class-diagrams/middleware02/Middleware02Packages.svg
  docs/uml-class-diagrams/middleware02/Middleware02Packages_Closure.png
  docs/uml-class-diagrams/middleware02/Middleware02Packages_Closure.svg
  docs/uml-class-diagrams/middleware02/Middleware02Packages_DirectDependencies.png
  docs/uml-class-diagrams/middleware02/Middleware02Packages_DirectDependencies.svg
  docs/uml-class-diagrams/middleware02/Middleware02Packages_InternalDependencies.png
  docs/uml-class-diagrams/middleware02/Middleware02Packages_InternalDependencies.svg
  docs/uml-class-diagrams/middleware02/test/Middleware02TestPackage.png
  docs/uml-class-diagrams/middleware02/test/Middleware02TestPackage.svg
  docs/uml-class-diagrams/middleware02/test/Middleware02TestPackage_Closure.png
  docs/uml-class-diagrams/middleware02/test/Middleware02TestPackage_Closure.svg
  docs/uml-class-diagrams/middleware02/test/Middleware02TestPackage_DirectDependencies.png
  docs/uml-class-diagrams/middleware02/test/Middleware02TestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/middleware02/test/Middleware02TestPackage_InternalDependencies.png
  docs/uml-class-diagrams/middleware02/test/Middleware02TestPackage_InternalDependencies.svg
  docs/uml-class-diagrams/middleware02/test/TrackDataCalculatorTests/TrackDataCalculatorTests.png
  docs/uml-class-diagrams/middleware02/test/TrackDataCalculatorTests/TrackDataCalculatorTests.puml
  docs/uml-class-diagrams/middleware02/test/TrackDataCalculatorTests/TrackDataCalculatorTests.svg
  docs/uml-class-diagrams/middleware02/test/TrackDataCalculatorTests/TrackDataCalculatorTests_Closure.png
  docs/uml-class-diagrams/middleware02/test/TrackDataCalculatorTests/TrackDataCalculatorTests_Closure.svg
  docs/uml-class-diagrams/middleware02/test/TrackDataCalculatorTests/TrackDataCalculatorTests_DirectDependencies.png
  docs/uml-class-diagrams/middleware02/test/TrackDataCalculatorTests/TrackDataCalculatorTests_DirectDependencies.svg
Labels: Middleware_02, documentation

#79 [Database] Define DatabaseHelperClassTests
  docs/uml-class-diagrams/database/DatabasePackages.png
  docs/uml-class-diagrams/database/DatabasePackages.svg
  docs/uml-class-diagrams/database/DatabasePackages_Closure.png
  docs/uml-class-diagrams/database/DatabasePackages_Closure.svg
  docs/uml-class-diagrams/database/DatabasePackages_DirectDependencies.png
  docs/uml-class-diagrams/database/DatabasePackages_DirectDependencies.svg
  docs/uml-class-diagrams/database/DatabasePackages_InternalDependencies.png
  docs/uml-class-diagrams/database/DatabasePackages_InternalDependencies.svg
  docs/uml-class-diagrams/database/helper/DatabaseHelperPackage.png
  docs/uml-class-diagrams/database/helper/DatabaseHelperPackage.puml
  docs/uml-class-diagrams/database/helper/DatabaseHelperPackage.svg
  docs/uml-class-diagrams/database/test/DatabaseTestPackage.png
  docs/uml-class-diagrams/database/test/DatabaseTestPackage.svg
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_Closure.png
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_Closure.svg
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_DirectDependencies.png
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_InternalDependencies.png
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_InternalDependencies.svg
  docs/uml-class-diagrams/database/test/PersistentStorageManagerTests/PersistentStorageManagerTests.png
  docs/uml-class-diagrams/database/test/PersistentStorageManagerTests/PersistentStorageManagerTests.puml
  docs/uml-class-diagrams/database/test/PersistentStorageManagerTests/PersistentStorageManagerTests.svg
  docs/uml-class-diagrams/database/test/PersistentStorageManagerTests/PersistentStorageManagerTests_Closure.png
  docs/uml-class-diagrams/database/test/PersistentStorageManagerTests/PersistentStorageManagerTests_Closure.svg
  docs/uml-class-diagrams/database/test/PersistentStorageManagerTests/PersistentStorageManagerTests_DirectDependencies.png
  docs/uml-class-diagrams/database/test/PersistentStorageManagerTests/PersistentStorageManagerTests_DirectDependencies.svg
Labels: Database, documentation

#80 [Database] Define DatabaseGisInterfaceTests
  docs/uml-class-diagrams/database/DatabasePackages.png
  docs/uml-class-diagrams/database/DatabasePackages.svg
  docs/uml-class-diagrams/database/DatabasePackages_Closure.png
  docs/uml-class-diagrams/database/DatabasePackages_Closure.svg
  docs/uml-class-diagrams/database/DatabasePackages_DirectDependencies.png
  docs/uml-class-diagrams/database/DatabasePackages_DirectDependencies.svg
  docs/uml-class-diagrams/database/DatabasePackages_InternalDependencies.png
  docs/uml-class-diagrams/database/DatabasePackages_InternalDependencies.svg
  docs/uml-class-diagrams/database/test/DatabaseGisInterfaceImplementationTests/DatabaseGisInterfaceImplementationTests.png
  docs/uml-class-diagrams/database/test/DatabaseGisInterfaceImplementationTests/DatabaseGisInterfaceImplementationTests.puml
  docs/uml-class-diagrams/database/test/DatabaseGisInterfaceImplementationTests/DatabaseGisInterfaceImplementationTests.svg
  docs/uml-class-diagrams/database/test/DatabaseGisInterfaceImplementationTests/DatabaseGisInterfaceImplementationTests_Closure.png
  docs/uml-class-diagrams/database/test/DatabaseGisInterfaceImplementationTests/DatabaseGisInterfaceImplementationTests_Closure.svg
  docs/uml-class-diagrams/database/test/DatabaseGisInterfaceImplementationTests/DatabaseGisInterfaceImplementationTests_DirectDependencies.png
  docs/uml-class-diagrams/database/test/DatabaseGisInterfaceImplementationTests/DatabaseGisInterfaceImplementationTests_DirectDependencies.svg
  docs/uml-class-diagrams/database/test/DatabaseTestPackage.png
  docs/uml-class-diagrams/database/test/DatabaseTestPackage.svg
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_Closure.png
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_Closure.svg
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_DirectDependencies.png
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_InternalDependencies.png
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_InternalDependencies.svg
Labels: Database, documentation

#81 [Database] Define DatabaseGisManagerTests
  docs/uml-class-diagrams/database/DatabasePackages.png
  docs/uml-class-diagrams/database/DatabasePackages.svg
  docs/uml-class-diagrams/database/DatabasePackages_Closure.png
  docs/uml-class-diagrams/database/DatabasePackages_Closure.svg
  docs/uml-class-diagrams/database/DatabasePackages_DirectDependencies.png
  docs/uml-class-diagrams/database/DatabasePackages_DirectDependencies.svg
  docs/uml-class-diagrams/database/DatabasePackages_InternalDependencies.png
  docs/uml-class-diagrams/database/DatabasePackages_InternalDependencies.svg
  docs/uml-class-diagrams/database/production/DatabaseGisManagerImplementation/DatabaseGisManagerImplementation.png
  docs/uml-class-diagrams/database/production/DatabaseGisManagerImplementation/DatabaseGisManagerImplementation.puml
  docs/uml-class-diagrams/database/production/DatabaseGisManagerImplementation/DatabaseGisManagerImplementation.svg
  docs/uml-class-diagrams/database/production/DatabaseGisManagerImplementation/DatabaseGisManagerImplementation_Closure.png
  docs/uml-class-diagrams/database/production/DatabaseGisManagerImplementation/DatabaseGisManagerImplementation_Closure.svg
  docs/uml-class-diagrams/database/production/DatabaseGisManagerImplementation/DatabaseGisManagerImplementation_DirectDependencies.png
  docs/uml-class-diagrams/database/production/DatabaseGisManagerImplementation/DatabaseGisManagerImplementation_DirectDependencies.svg
  docs/uml-class-diagrams/database/production/DatabaseProductionPackage.png
  docs/uml-class-diagrams/database/production/DatabaseProductionPackage.svg
  docs/uml-class-diagrams/database/production/DatabaseProductionPackage_Closure.png
  docs/uml-class-diagrams/database/production/DatabaseProductionPackage_Closure.svg
  docs/uml-class-diagrams/database/production/DatabaseProductionPackage_DirectDependencies.png
  docs/uml-class-diagrams/database/production/DatabaseProductionPackage_DirectDependencies.svg
  docs/uml-class-diagrams/database/production/DatabaseProductionPackage_InternalDependencies.png
  docs/uml-class-diagrams/database/production/DatabaseProductionPackage_InternalDependencies.svg
  docs/uml-class-diagrams/database/test/DatabaseGisManagerImplementationTests/DatabaseGisManagerImplementationTests.png
  docs/uml-class-diagrams/database/test/DatabaseGisManagerImplementationTests/DatabaseGisManagerImplementationTests.puml
  docs/uml-class-diagrams/database/test/DatabaseGisManagerImplementationTests/DatabaseGisManagerImplementationTests.svg
  docs/uml-class-diagrams/database/test/DatabaseGisManagerImplementationTests/DatabaseGisManagerImplementationTests_Closure.png
  docs/uml-class-diagrams/database/test/DatabaseGisManagerImplementationTests/DatabaseGisManagerImplementationTests_Closure.svg
  docs/uml-class-diagrams/database/test/DatabaseGisManagerImplementationTests/DatabaseGisManagerImplementationTests_DirectDependencies.png
  docs/uml-class-diagrams/database/test/DatabaseGisManagerImplementationTests/DatabaseGisManagerImplementationTests_DirectDependencies.svg
  docs/uml-class-diagrams/database/test/DatabaseTestPackage.png
  docs/uml-class-diagrams/database/test/DatabaseTestPackage.svg
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_Closure.png
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_Closure.svg
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_DirectDependencies.png
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_InternalDependencies.png
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_InternalDependencies.svg
Labels: Database, documentation

#82 [Database] Define DatabasePersistentStorageTests
  docs/uml-class-diagrams/database/DatabasePackages.png
  docs/uml-class-diagrams/database/DatabasePackages.svg
  docs/uml-class-diagrams/database/DatabasePackages_Closure.png
  docs/uml-class-diagrams/database/DatabasePackages_Closure.svg
  docs/uml-class-diagrams/database/DatabasePackages_DirectDependencies.png
  docs/uml-class-diagrams/database/DatabasePackages_DirectDependencies.svg
  docs/uml-class-diagrams/database/DatabasePackages_InternalDependencies.png
  docs/uml-class-diagrams/database/DatabasePackages_InternalDependencies.svg
  docs/uml-class-diagrams/database/test/DatabasePersistentStorageImplementationTests/DatabasePersistentStorageImplementationTests.png
  docs/uml-class-diagrams/database/test/DatabasePersistentStorageImplementationTests/DatabasePersistentStorageImplementationTests.puml
  docs/uml-class-diagrams/database/test/DatabasePersistentStorageImplementationTests/DatabasePersistentStorageImplementationTests.svg
  docs/uml-class-diagrams/database/test/DatabasePersistentStorageImplementationTests/DatabasePersistentStorageImplementationTests_Closure.png
  docs/uml-class-diagrams/database/test/DatabasePersistentStorageImplementationTests/DatabasePersistentStorageImplementationTests_Closure.svg
  docs/uml-class-diagrams/database/test/DatabasePersistentStorageImplementationTests/DatabasePersistentStorageImplementationTests_DirectDependencies.png
  docs/uml-class-diagrams/database/test/DatabasePersistentStorageImplementationTests/DatabasePersistentStorageImplementationTests_DirectDependencies.svg
  docs/uml-class-diagrams/database/test/DatabaseTestPackage.png
  docs/uml-class-diagrams/database/test/DatabaseTestPackage.svg
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_Closure.png
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_Closure.svg
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_DirectDependencies.png
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_InternalDependencies.png
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_InternalDependencies.svg
Labels: Database, documentation

#91 [Middleware_02] Define MiddlewareCommInterfaceImplementationTest
  docs/uml-class-diagrams/middleware02/Middleware02Packages.png
  docs/uml-class-diagrams/middleware02/Middleware02Packages.svg
  docs/uml-class-diagrams/middleware02/Middleware02Packages_Closure.png
  docs/uml-class-diagrams/middleware02/Middleware02Packages_Closure.svg
  docs/uml-class-diagrams/middleware02/Middleware02Packages_DirectDependencies.png
  docs/uml-class-diagrams/middleware02/Middleware02Packages_DirectDependencies.svg
  docs/uml-class-diagrams/middleware02/Middleware02Packages_InternalDependencies.png
  docs/uml-class-diagrams/middleware02/Middleware02Packages_InternalDependencies.svg
  docs/uml-class-diagrams/middleware02/test/Middleware02TestPackage.png
  docs/uml-class-diagrams/middleware02/test/Middleware02TestPackage.svg
  docs/uml-class-diagrams/middleware02/test/Middleware02TestPackage_Closure.png
  docs/uml-class-diagrams/middleware02/test/Middleware02TestPackage_Closure.svg
  docs/uml-class-diagrams/middleware02/test/Middleware02TestPackage_DirectDependencies.png
  docs/uml-class-diagrams/middleware02/test/Middleware02TestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/middleware02/test/Middleware02TestPackage_InternalDependencies.png
  docs/uml-class-diagrams/middleware02/test/Middleware02TestPackage_InternalDependencies.svg
  docs/uml-class-diagrams/middleware02/test/MiddlewareCommInterfaceImplementationTests/MiddlewareCommInterfaceImplementationTests.png
  docs/uml-class-diagrams/middleware02/test/MiddlewareCommInterfaceImplementationTests/MiddlewareCommInterfaceImplementationTests.puml
  docs/uml-class-diagrams/middleware02/test/MiddlewareCommInterfaceImplementationTests/MiddlewareCommInterfaceImplementationTests.svg
  docs/uml-class-diagrams/middleware02/test/MiddlewareCommInterfaceImplementationTests/MiddlewareCommInterfaceImplementationTests_Closure.png
  docs/uml-class-diagrams/middleware02/test/MiddlewareCommInterfaceImplementationTests/MiddlewareCommInterfaceImplementationTests_Closure.svg
  docs/uml-class-diagrams/middleware02/test/MiddlewareCommInterfaceImplementationTests/MiddlewareCommInterfaceImplementationTests_DirectDependencies.png
  docs/uml-class-diagrams/middleware02/test/MiddlewareCommInterfaceImplementationTests/MiddlewareCommInterfaceImplementationTests_DirectDependencies.svg
  src/main/java/edu/oakland/production/middleware02/MiddlewareCommInterface.java
Labels: Middleware_02, documentation

#83 [Database] Define DatabaseCommInterfaceTests
  docs/uml-class-diagrams/database/DatabasePackages.png
  docs/uml-class-diagrams/database/DatabasePackages.svg
  docs/uml-class-diagrams/database/DatabasePackages_Closure.png
  docs/uml-class-diagrams/database/DatabasePackages_Closure.svg
  docs/uml-class-diagrams/database/DatabasePackages_DirectDependencies.png
  docs/uml-class-diagrams/database/DatabasePackages_DirectDependencies.svg
  docs/uml-class-diagrams/database/DatabasePackages_InternalDependencies.png
  docs/uml-class-diagrams/database/DatabasePackages_InternalDependencies.svg
  docs/uml-class-diagrams/database/production/DatabaseCommInterfaceImplementation/DatabaseCommInterfaceImplementation.png
  docs/uml-class-diagrams/database/production/DatabaseCommInterfaceImplementation/DatabaseCommInterfaceImplementation.puml
  docs/uml-class-diagrams/database/production/DatabaseCommInterfaceImplementation/DatabaseCommInterfaceImplementation.svg
  docs/uml-class-diagrams/database/production/DatabaseCommInterfaceImplementation/DatabaseCommInterfaceImplementation_Closure.png
  docs/uml-class-diagrams/database/production/DatabaseCommInterfaceImplementation/DatabaseCommInterfaceImplementation_Closure.svg
  docs/uml-class-diagrams/database/production/DatabaseCommInterfaceImplementation/DatabaseCommInterfaceImplementation_DirectDependencies.png
  docs/uml-class-diagrams/database/production/DatabaseCommInterfaceImplementation/DatabaseCommInterfaceImplementation_DirectDependencies.svg
  docs/uml-class-diagrams/database/production/DatabaseProductionPackage.png
  docs/uml-class-diagrams/database/production/DatabaseProductionPackage.svg
  docs/uml-class-diagrams/database/production/DatabaseProductionPackage_Closure.png
  docs/uml-class-diagrams/database/production/DatabaseProductionPackage_Closure.svg
  docs/uml-class-diagrams/database/production/DatabaseProductionPackage_DirectDependencies.png
  docs/uml-class-diagrams/database/production/DatabaseProductionPackage_DirectDependencies.svg
  docs/uml-class-diagrams/database/production/DatabaseProductionPackage_InternalDependencies.png
  docs/uml-class-diagrams/database/production/DatabaseProductionPackage_InternalDependencies.svg
  docs/uml-class-diagrams/database/test/DatabaseCommInterfaceImplementationTests/DatabaseCommInterfaceImplementationTests.png
  docs/uml-class-diagrams/database/test/DatabaseCommInterfaceImplementationTests/DatabaseCommInterfaceImplementationTests.puml
  docs/uml-class-diagrams/database/test/DatabaseCommInterfaceImplementationTests/DatabaseCommInterfaceImplementationTests.svg
  docs/uml-class-diagrams/database/test/DatabaseCommInterfaceImplementationTests/DatabaseCommInterfaceImplementationTests_Closure.png
  docs/uml-class-diagrams/database/test/DatabaseCommInterfaceImplementationTests/DatabaseCommInterfaceImplementationTests_Closure.svg
  docs/uml-class-diagrams/database/test/DatabaseCommInterfaceImplementationTests/DatabaseCommInterfaceImplementationTests_DirectDependencies.png
  docs/uml-class-diagrams/database/test/DatabaseCommInterfaceImplementationTests/DatabaseCommInterfaceImplementationTests_DirectDependencies.svg
  docs/uml-class-diagrams/database/test/DatabaseTestPackage.png
  docs/uml-class-diagrams/database/test/DatabaseTestPackage.svg
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_Closure.png
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_Closure.svg
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_DirectDependencies.png
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_InternalDependencies.png
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_InternalDependencies.svg
Labels: Database, documentation

#84 [Database] Define DatabaseCommManagerTests
  docs/uml-class-diagrams/database/DatabasePackages.png
  docs/uml-class-diagrams/database/DatabasePackages.svg
  docs/uml-class-diagrams/database/DatabasePackages_Closure.png
  docs/uml-class-diagrams/database/DatabasePackages_Closure.svg
  docs/uml-class-diagrams/database/DatabasePackages_DirectDependencies.png
  docs/uml-class-diagrams/database/DatabasePackages_DirectDependencies.svg
  docs/uml-class-diagrams/database/DatabasePackages_InternalDependencies.png
  docs/uml-class-diagrams/database/DatabasePackages_InternalDependencies.svg
  docs/uml-class-diagrams/database/test/DatabaseCommManagerImplementationTests/DatabaseCommManagerImplementationTests.png
  docs/uml-class-diagrams/database/test/DatabaseCommManagerImplementationTests/DatabaseCommManagerImplementationTests.puml
  docs/uml-class-diagrams/database/test/DatabaseCommManagerImplementationTests/DatabaseCommManagerImplementationTests.svg
  docs/uml-class-diagrams/database/test/DatabaseCommManagerImplementationTests/DatabaseCommManagerImplementationTests_Closure.png
  docs/uml-class-diagrams/database/test/DatabaseCommManagerImplementationTests/DatabaseCommManagerImplementationTests_Closure.svg
  docs/uml-class-diagrams/database/test/DatabaseCommManagerImplementationTests/DatabaseCommManagerImplementationTests_DirectDependencies.png
  docs/uml-class-diagrams/database/test/DatabaseCommManagerImplementationTests/DatabaseCommManagerImplementationTests_DirectDependencies.svg
  docs/uml-class-diagrams/database/test/DatabaseTestPackage.png
  docs/uml-class-diagrams/database/test/DatabaseTestPackage.svg
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_Closure.png
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_Closure.svg
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_DirectDependencies.png
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_InternalDependencies.png
  docs/uml-class-diagrams/database/test/DatabaseTestPackage_InternalDependencies.svg
Labels: Database, documentation

#97 [Middleware_02] Define MiddlewareCommDatabaseClassTests
  docs/uml-class-diagrams/middleware02/Middleware02Packages.png
  docs/uml-class-diagrams/middleware02/Middleware02Packages.svg
  docs/uml-class-diagrams/middleware02/Middleware02Packages_Closure.png
  docs/uml-class-diagrams/middleware02/Middleware02Packages_Closure.svg
  docs/uml-class-diagrams/middleware02/Middleware02Packages_DirectDependencies.png
  docs/uml-class-diagrams/middleware02/Middleware02Packages_DirectDependencies.svg
  docs/uml-class-diagrams/middleware02/Middleware02Packages_InternalDependencies.png
  docs/uml-class-diagrams/middleware02/Middleware02Packages_InternalDependencies.svg
  docs/uml-class-diagrams/middleware02/test/Middleware02TestPackage.png
  docs/uml-class-diagrams/middleware02/test/Middleware02TestPackage.svg
  docs/uml-class-diagrams/middleware02/test/Middleware02TestPackage_Closure.png
  docs/uml-class-diagrams/middleware02/test/Middleware02TestPackage_Closure.svg
  docs/uml-class-diagrams/middleware02/test/Middleware02TestPackage_DirectDependencies.png
  docs/uml-class-diagrams/middleware02/test/Middleware02TestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/middleware02/test/Middleware02TestPackage_InternalDependencies.png
  docs/uml-class-diagrams/middleware02/test/Middleware02TestPackage_InternalDependencies.svg
  docs/uml-class-diagrams/middleware02/test/MiddlewareCommDatabaseInterfaceImplementationTests/MiddlewareCommDatabaseInterfaceImplementationTests.png
  docs/uml-class-diagrams/middleware02/test/MiddlewareCommDatabaseInterfaceImplementationTests/MiddlewareCommDatabaseInterfaceImplementationTests.puml
  docs/uml-class-diagrams/middleware02/test/MiddlewareCommDatabaseInterfaceImplementationTests/MiddlewareCommDatabaseInterfaceImplementationTests.svg
  docs/uml-class-diagrams/middleware02/test/MiddlewareCommDatabaseInterfaceImplementationTests/MiddlewareCommDatabaseInterfaceImplementationTests_Closure.png
  docs/uml-class-diagrams/middleware02/test/MiddlewareCommDatabaseInterfaceImplementationTests/MiddlewareCommDatabaseInterfaceImplementationTests_Closure.svg
  docs/uml-class-diagrams/middleware02/test/MiddlewareCommDatabaseInterfaceImplementationTests/MiddlewareCommDatabaseInterfaceImplementationTests_DirectDependencies.png
  docs/uml-class-diagrams/middleware02/test/MiddlewareCommDatabaseInterfaceImplementationTests/MiddlewareCommDatabaseInterfaceImplementationTests_DirectDependencies.svg
  docs/uml-class-diagrams/middleware02/test/MiddlewareCommLinkManagerImplementationTests/MiddlewareCommLinkManagerImplementationTests.png
  docs/uml-class-diagrams/middleware02/test/MiddlewareCommLinkManagerImplementationTests/MiddlewareCommLinkManagerImplementationTests.puml
  docs/uml-class-diagrams/middleware02/test/MiddlewareCommLinkManagerImplementationTests/MiddlewareCommLinkManagerImplementationTests.svg
  docs/uml-class-diagrams/middleware02/test/MiddlewareCommLinkManagerImplementationTests/MiddlewareCommLinkManagerImplementationTests_Closure.png
  docs/uml-class-diagrams/middleware02/test/MiddlewareCommLinkManagerImplementationTests/MiddlewareCommLinkManagerImplementationTests_Closure.svg
  docs/uml-class-diagrams/middleware02/test/MiddlewareCommLinkManagerImplementationTests/MiddlewareCommLinkManagerImplementationTests_DirectDependencies.png
  docs/uml-class-diagrams/middleware02/test/MiddlewareCommLinkManagerImplementationTests/MiddlewareCommLinkManagerImplementationTests_DirectDependencies.svg
Labels: Middleware_02, documentation, help wanted

#105 [Display_02] Added Extra Method to TrackDataPlotter
  docs/uml-class-diagrams/display02/Display02Packages.png
  docs/uml-class-diagrams/display02/Display02Packages.svg
  docs/uml-class-diagrams/display02/Display02Packages_Closure.png
  docs/uml-class-diagrams/display02/Display02Packages_Closure.svg
  docs/uml-class-diagrams/display02/Display02Packages_DirectDependencies.png
  docs/uml-class-diagrams/display02/Display02Packages_DirectDependencies.svg
  docs/uml-class-diagrams/display02/Display02Packages_InternalDependencies.png
  docs/uml-class-diagrams/display02/Display02Packages_InternalDependencies.svg
  docs/uml-class-diagrams/display02/helper/Display02HelperPackage.png
  docs/uml-class-diagrams/display02/helper/Display02HelperPackage.svg
  docs/uml-class-diagrams/display02/helper/Display02HelperPackage_Closure.png
  docs/uml-class-diagrams/display02/helper/Display02HelperPackage_Closure.svg
  docs/uml-class-diagrams/display02/helper/Display02HelperPackage_DirectDependencies.png
  docs/uml-class-diagrams/display02/helper/Display02HelperPackage_DirectDependencies.svg
  docs/uml-class-diagrams/display02/helper/Display02HelperPackage_InternalDependencies.png
  docs/uml-class-diagrams/display02/helper/Display02HelperPackage_InternalDependencies.svg
  docs/uml-class-diagrams/display02/helper/TrackDataPlotter/TrackDataPlotter.png
  docs/uml-class-diagrams/display02/helper/TrackDataPlotter/TrackDataPlotter.puml
  docs/uml-class-diagrams/display02/helper/TrackDataPlotter/TrackDataPlotter.svg
  docs/uml-class-diagrams/display02/helper/TrackDataPlotter/TrackDataPlotter_Closure.png
  docs/uml-class-diagrams/display02/helper/TrackDataPlotter/TrackDataPlotter_Closure.svg
  docs/uml-class-diagrams/display02/helper/TrackDataPlotter/TrackDataPlotter_DirectDependencies.png
  docs/uml-class-diagrams/display02/helper/TrackDataPlotter/TrackDataPlotter_DirectDependencies.svg
  docs/uml-class-diagrams/display02/test/Display02TestPackage_Closure.png
  docs/uml-class-diagrams/display02/test/Display02TestPackage_Closure.svg
  docs/uml-class-diagrams/display02/test/Display02TestPackage_DirectDependencies.png
  docs/uml-class-diagrams/display02/test/Display02TestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/display02/test/TrackDataPlotterTests/TrackDataPlotterTests_Closure.png
  docs/uml-class-diagrams/display02/test/TrackDataPlotterTests/TrackDataPlotterTests_Closure.svg
  docs/uml-class-diagrams/display02/test/TrackDataPlotterTests/TrackDataPlotterTests_DirectDependencies.png
  docs/uml-class-diagrams/display02/test/TrackDataPlotterTests/TrackDataPlotterTests_DirectDependencies.svg
Labels: Display_02, bug, documentation

#96 [Middleware_02] Define MiddlewareCommLinkManagerImplementationTests
  docs/uml-class-diagrams/middleware02/Middleware02Packages.png
  docs/uml-class-diagrams/middleware02/Middleware02Packages.svg
  docs/uml-class-diagrams/middleware02/Middleware02Packages_Closure.png
  docs/uml-class-diagrams/middleware02/Middleware02Packages_Closure.svg
  docs/uml-class-diagrams/middleware02/Middleware02Packages_DirectDependencies.png
  docs/uml-class-diagrams/middleware02/Middleware02Packages_DirectDependencies.svg
  docs/uml-class-diagrams/middleware02/Middleware02Packages_InternalDependencies.png
  docs/uml-class-diagrams/middleware02/Middleware02Packages_InternalDependencies.svg
  docs/uml-class-diagrams/middleware02/test/Middleware02TestPackage.png
  docs/uml-class-diagrams/middleware02/test/Middleware02TestPackage.svg
  docs/uml-class-diagrams/middleware02/test/Middleware02TestPackage_Closure.png
  docs/uml-class-diagrams/middleware02/test/Middleware02TestPackage_Closure.svg
  docs/uml-class-diagrams/middleware02/test/Middleware02TestPackage_DirectDependencies.png
  docs/uml-class-diagrams/middleware02/test/Middleware02TestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/middleware02/test/Middleware02TestPackage_InternalDependencies.png
  docs/uml-class-diagrams/middleware02/test/Middleware02TestPackage_InternalDependencies.svg
  docs/uml-class-diagrams/middleware02/test/MiddlewareCommLinkManagerImplementationTests/MiddlewareCommLinkManagerImplementationTests.png
  docs/uml-class-diagrams/middleware02/test/MiddlewareCommLinkManagerImplementationTests/MiddlewareCommLinkManagerImplementationTests.puml
  docs/uml-class-diagrams/middleware02/test/MiddlewareCommLinkManagerImplementationTests/MiddlewareCommLinkManagerImplementationTests.svg
  docs/uml-class-diagrams/middleware02/test/MiddlewareCommLinkManagerImplementationTests/MiddlewareCommLinkManagerImplementationTests_Closure.png
  docs/uml-class-diagrams/middleware02/test/MiddlewareCommLinkManagerImplementationTests/MiddlewareCommLinkManagerImplementationTests_Closure.svg
  docs/uml-class-diagrams/middleware02/test/MiddlewareCommLinkManagerImplementationTests/MiddlewareCommLinkManagerImplementationTests_DirectDependencies.png
  docs/uml-class-diagrams/middleware02/test/MiddlewareCommLinkManagerImplementationTests/MiddlewareCommLinkManagerImplementationTests_DirectDependencies.svg
Labels: Middleware_02, documentation

#106 [Display_02] Define TrackDataPlotterTest Class
  docs/uml-class-diagrams/display02/Display02Packages.png
  docs/uml-class-diagrams/display02/Display02Packages.svg
  docs/uml-class-diagrams/display02/Display02Packages_Closure.png
  docs/uml-class-diagrams/display02/Display02Packages_Closure.svg
  docs/uml-class-diagrams/display02/Display02Packages_DirectDependencies.png
  docs/uml-class-diagrams/display02/Display02Packages_DirectDependencies.svg
  docs/uml-class-diagrams/display02/Display02Packages_InternalDependencies.png
  docs/uml-class-diagrams/display02/Display02Packages_InternalDependencies.svg
  docs/uml-class-diagrams/display02/test/Display02TestPackage.png
  docs/uml-class-diagrams/display02/test/Display02TestPackage.svg
  docs/uml-class-diagrams/display02/test/Display02TestPackage_Closure.png
  docs/uml-class-diagrams/display02/test/Display02TestPackage_Closure.svg
  docs/uml-class-diagrams/display02/test/Display02TestPackage_DirectDependencies.png
  docs/uml-class-diagrams/display02/test/Display02TestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/display02/test/Display02TestPackage_InternalDependencies.png
  docs/uml-class-diagrams/display02/test/Display02TestPackage_InternalDependencies.svg
  docs/uml-class-diagrams/display02/test/TrackDataPlotterTests/TrackDataPlotterTests.png
  docs/uml-class-diagrams/display02/test/TrackDataPlotterTests/TrackDataPlotterTests.puml
  docs/uml-class-diagrams/display02/test/TrackDataPlotterTests/TrackDataPlotterTests.svg
  docs/uml-class-diagrams/display02/test/TrackDataPlotterTests/TrackDataPlotterTests_Closure.png
  docs/uml-class-diagrams/display02/test/TrackDataPlotterTests/TrackDataPlotterTests_Closure.svg
  docs/uml-class-diagrams/display02/test/TrackDataPlotterTests/TrackDataPlotterTests_DirectDependencies.png
  docs/uml-class-diagrams/display02/test/TrackDataPlotterTests/TrackDataPlotterTests_DirectDependencies.svg
Labels: Display_02, documentation

#114 [Admin] Define GpsSystemTests
  docs/uml-class-diagrams/admin/AdminPackages.png
  docs/uml-class-diagrams/admin/AdminPackages.svg
  docs/uml-class-diagrams/admin/AdminPackages_Closure.png
  docs/uml-class-diagrams/admin/AdminPackages_Closure.svg
  docs/uml-class-diagrams/admin/AdminPackages_DirectDependencies.png
  docs/uml-class-diagrams/admin/AdminPackages_DirectDependencies.svg
  docs/uml-class-diagrams/admin/AdminPackages_InternalDependencies.png
  docs/uml-class-diagrams/admin/AdminPackages_InternalDependencies.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_Closure.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_Closure.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_DirectDependencies.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_InternalDependencies.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_InternalDependencies.svg
  docs/uml-class-diagrams/admin/test/GpsSystemTests/GpsSystemTests.png
  docs/uml-class-diagrams/admin/test/GpsSystemTests/GpsSystemTests.puml
  docs/uml-class-diagrams/admin/test/GpsSystemTests/GpsSystemTests.svg
  docs/uml-class-diagrams/admin/test/GpsSystemTests/GpsSystemTests_Closure.png
  docs/uml-class-diagrams/admin/test/GpsSystemTests/GpsSystemTests_Closure.svg
  docs/uml-class-diagrams/admin/test/GpsSystemTests/GpsSystemTests_DirectDependencies.png
  docs/uml-class-diagrams/admin/test/GpsSystemTests/GpsSystemTests_DirectDependencies.svg
Labels: Admin, documentation

#116 [Admin] Ignore Auto-Generated files by CODEOWNERS
  .github/CODEOWNERS
Labels: Admin

#113 [Admin] Build TrackData
  docs/uml-class-diagrams/admin/AdminPackages.png
  docs/uml-class-diagrams/admin/AdminPackages.svg
  docs/uml-class-diagrams/admin/AdminPackages_Closure.png
  docs/uml-class-diagrams/admin/AdminPackages_Closure.svg
  docs/uml-class-diagrams/admin/AdminPackages_DirectDependencies.png
  docs/uml-class-diagrams/admin/AdminPackages_DirectDependencies.svg
  docs/uml-class-diagrams/admin/AdminPackages_InternalDependencies.png
  docs/uml-class-diagrams/admin/AdminPackages_InternalDependencies.svg
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage.png
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage.svg
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage_Closure.png
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage_Closure.svg
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage_DirectDependencies.png
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage_DirectDependencies.svg
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage_InternalDependencies.png
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage_InternalDependencies.svg
  docs/uml-class-diagrams/admin/helper/TrackData/TrackData.png
  docs/uml-class-diagrams/admin/helper/TrackData/TrackData.puml
  docs/uml-class-diagrams/admin/helper/TrackData/TrackData.svg
  docs/uml-class-diagrams/admin/helper/TrackData/TrackData_Closure.png
  docs/uml-class-diagrams/admin/helper/TrackData/TrackData_Closure.svg
  docs/uml-class-diagrams/admin/helper/TrackData/TrackData_DirectDependencies.png
  docs/uml-class-diagrams/admin/helper/TrackData/TrackData_DirectDependencies.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_Closure.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_Closure.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_DirectDependencies.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_InternalDependencies.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_InternalDependencies.svg
  docs/uml-class-diagrams/admin/test/TrackDataTests/TrackDataTests.png
  docs/uml-class-diagrams/admin/test/TrackDataTests/TrackDataTests.puml
  docs/uml-class-diagrams/admin/test/TrackDataTests/TrackDataTests.svg
  docs/uml-class-diagrams/admin/test/TrackDataTests/TrackDataTests_Closure.png
  docs/uml-class-diagrams/admin/test/TrackDataTests/TrackDataTests_Closure.svg
  docs/uml-class-diagrams/admin/test/TrackDataTests/TrackDataTests_DirectDependencies.png
  docs/uml-class-diagrams/admin/test/TrackDataTests/TrackDataTests_DirectDependencies.svg
  src/main/java/edu/oakland/helper/admin/TrackData.java
  src/test/java/edu/oakland/test/admin/TrackDataTests.java
Labels: Admin, enhancement

#115 [Admin] Started Satellite
  docs/uml-class-diagrams/admin/AdminPackages.png
  docs/uml-class-diagrams/admin/AdminPackages.svg
  docs/uml-class-diagrams/admin/AdminPackages_Closure.png
  docs/uml-class-diagrams/admin/AdminPackages_Closure.svg
  docs/uml-class-diagrams/admin/AdminPackages_DirectDependencies.png
  docs/uml-class-diagrams/admin/AdminPackages_DirectDependencies.svg
  docs/uml-class-diagrams/admin/AdminPackages_InternalDependencies.png
  docs/uml-class-diagrams/admin/AdminPackages_InternalDependencies.svg
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage.png
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage.svg
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage_Closure.png
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage_Closure.svg
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage_DirectDependencies.png
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage_DirectDependencies.svg
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage_InternalDependencies.png
  docs/uml-class-diagrams/admin/helper/AdminHelperPackage_InternalDependencies.svg
  docs/uml-class-diagrams/admin/helper/Satellite/Satellite.png
  docs/uml-class-diagrams/admin/helper/Satellite/Satellite.puml
  docs/uml-class-diagrams/admin/helper/Satellite/Satellite.svg
  docs/uml-class-diagrams/admin/helper/Satellite/Satellite_Closure.png
  docs/uml-class-diagrams/admin/helper/Satellite/Satellite_Closure.svg
  docs/uml-class-diagrams/admin/helper/Satellite/Satellite_DirectDependencies.png
  docs/uml-class-diagrams/admin/helper/Satellite/Satellite_DirectDependencies.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_Closure.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_Closure.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_DirectDependencies.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/admin/test/AdminTestPackage_InternalDependencies.png
  docs/uml-class-diagrams/admin/test/AdminTestPackage_InternalDependencies.svg
  docs/uml-class-diagrams/admin/test/SatelliteTests/SatelliteTests.png
  docs/uml-class-diagrams/admin/test/SatelliteTests/SatelliteTests.puml
  docs/uml-class-diagrams/admin/test/SatelliteTests/SatelliteTests.svg
  docs/uml-class-diagrams/admin/test/SatelliteTests/SatelliteTests_Closure.png
  docs/uml-class-diagrams/admin/test/SatelliteTests/SatelliteTests_Closure.svg
  docs/uml-class-diagrams/admin/test/SatelliteTests/SatelliteTests_DirectDependencies.png
  docs/uml-class-diagrams/admin/test/SatelliteTests/SatelliteTests_DirectDependencies.svg
  src/main/java/edu/oakland/helper/admin/Satellite.java
  src/test/java/edu/oakland/test/admin/SatelliteTests.java
Labels: Admin, enhancement

#73 [Display_01] Define DisplayGpsInterfaceInplementationTests
  docs/uml-class-diagrams/display01/Display01Packages.png
  docs/uml-class-diagrams/display01/Display01Packages.svg
  docs/uml-class-diagrams/display01/Display01Packages_Closure.png
  docs/uml-class-diagrams/display01/Display01Packages_Closure.svg
  docs/uml-class-diagrams/display01/Display01Packages_DirectDependencies.png
  docs/uml-class-diagrams/display01/Display01Packages_DirectDependencies.svg
  docs/uml-class-diagrams/display01/Display01Packages_InternalDependencies.png
  docs/uml-class-diagrams/display01/Display01Packages_InternalDependencies.svg
  docs/uml-class-diagrams/display01/test/Display01TestPackage.png
  docs/uml-class-diagrams/display01/test/Display01TestPackage.svg
  docs/uml-class-diagrams/display01/test/Display01TestPackage_Closure.png
  docs/uml-class-diagrams/display01/test/Display01TestPackage_Closure.svg
  docs/uml-class-diagrams/display01/test/Display01TestPackage_DirectDependencies.png
  docs/uml-class-diagrams/display01/test/Display01TestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/display01/test/Display01TestPackage_InternalDependencies.png
  docs/uml-class-diagrams/display01/test/Display01TestPackage_InternalDependencies.svg
  docs/uml-class-diagrams/display01/test/DisplayGpsInterfaceImplementationTests/DisplayGpsInterfaceImplementationTests.png
  docs/uml-class-diagrams/display01/test/DisplayGpsInterfaceImplementationTests/DisplayGpsInterfaceImplementationTests.puml
  docs/uml-class-diagrams/display01/test/DisplayGpsInterfaceImplementationTests/DisplayGpsInterfaceImplementationTests.svg
  docs/uml-class-diagrams/display01/test/DisplayGpsInterfaceImplementationTests/DisplayGpsInterfaceImplementationTests_Closure.png
  docs/uml-class-diagrams/display01/test/DisplayGpsInterfaceImplementationTests/DisplayGpsInterfaceImplementationTests_Closure.svg
  docs/uml-class-diagrams/display01/test/DisplayGpsInterfaceImplementationTests/DisplayGpsInterfaceImplementationTests_DirectDependencies.png
  docs/uml-class-diagrams/display01/test/DisplayGpsInterfaceImplementationTests/DisplayGpsInterfaceImplementationTests_DirectDependencies.svg
  src/main/java/edu/oakland/production/display01/DisplayGpsInterface.java
  src/main/java/edu/oakland/production/display01/DisplayGpsInterfaceImplementation.java
Labels: Display_01, documentation

#93 [Display_01] Define DisplayGpsManagerImplementationTests
  docs/uml-class-diagrams/display01/Display01Packages.png
  docs/uml-class-diagrams/display01/Display01Packages.svg
  docs/uml-class-diagrams/display01/Display01Packages_Closure.png
  docs/uml-class-diagrams/display01/Display01Packages_Closure.svg
  docs/uml-class-diagrams/display01/Display01Packages_DirectDependencies.png
  docs/uml-class-diagrams/display01/Display01Packages_DirectDependencies.svg
  docs/uml-class-diagrams/display01/Display01Packages_InternalDependencies.png
  docs/uml-class-diagrams/display01/Display01Packages_InternalDependencies.svg
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage.png
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage.svg
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage_Closure.png
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage_Closure.svg
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage_DirectDependencies.png
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage_DirectDependencies.svg
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage_InternalDependencies.png
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage_InternalDependencies.svg
  docs/uml-class-diagrams/display01/production/DisplayGpsManager/DisplayGpsManager.png
  docs/uml-class-diagrams/display01/production/DisplayGpsManager/DisplayGpsManager.puml
  docs/uml-class-diagrams/display01/production/DisplayGpsManager/DisplayGpsManager.svg
  docs/uml-class-diagrams/display01/production/DisplayGpsManager/DisplayGpsManager_Closure.png
  docs/uml-class-diagrams/display01/production/DisplayGpsManager/DisplayGpsManager_Closure.svg
  docs/uml-class-diagrams/display01/production/DisplayGpsManager/DisplayGpsManager_DirectDependencies.png
  docs/uml-class-diagrams/display01/production/DisplayGpsManager/DisplayGpsManager_DirectDependencies.svg
  docs/uml-class-diagrams/display01/production/DisplayGpsManagerImplementation/DisplayGpsManagerImplementation.png
  docs/uml-class-diagrams/display01/production/DisplayGpsManagerImplementation/DisplayGpsManagerImplementation.puml
  docs/uml-class-diagrams/display01/production/DisplayGpsManagerImplementation/DisplayGpsManagerImplementation.svg
  docs/uml-class-diagrams/display01/production/DisplayGpsManagerImplementation/DisplayGpsManagerImplementation_Closure.png
  docs/uml-class-diagrams/display01/production/DisplayGpsManagerImplementation/DisplayGpsManagerImplementation_Closure.svg
  docs/uml-class-diagrams/display01/production/DisplayGpsManagerImplementation/DisplayGpsManagerImplementation_DirectDependencies.png
  docs/uml-class-diagrams/display01/production/DisplayGpsManagerImplementation/DisplayGpsManagerImplementation_DirectDependencies.svg
  docs/uml-class-diagrams/display01/test/Display01TestPackage.png
  docs/uml-class-diagrams/display01/test/Display01TestPackage.svg
  docs/uml-class-diagrams/display01/test/Display01TestPackage_Closure.png
  docs/uml-class-diagrams/display01/test/Display01TestPackage_Closure.svg
  docs/uml-class-diagrams/display01/test/Display01TestPackage_DirectDependencies.png
  docs/uml-class-diagrams/display01/test/Display01TestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/display01/test/Display01TestPackage_InternalDependencies.png
  docs/uml-class-diagrams/display01/test/Display01TestPackage_InternalDependencies.svg
  docs/uml-class-diagrams/display01/test/DisplayGpsInterfaceImplementationTests/DisplayGpsInterfaceImplementationTests_Closure.png
  docs/uml-class-diagrams/display01/test/DisplayGpsInterfaceImplementationTests/DisplayGpsInterfaceImplementationTests_Closure.svg
  docs/uml-class-diagrams/display01/test/DisplayGpsManagerImplementationTests/DisplayGpsManagerImplementationTests.png
  docs/uml-class-diagrams/display01/test/DisplayGpsManagerImplementationTests/DisplayGpsManagerImplementationTests.puml
  docs/uml-class-diagrams/display01/test/DisplayGpsManagerImplementationTests/DisplayGpsManagerImplementationTests.svg
  docs/uml-class-diagrams/display01/test/DisplayGpsManagerImplementationTests/DisplayGpsManagerImplementationTests_Closure.png
  docs/uml-class-diagrams/display01/test/DisplayGpsManagerImplementationTests/DisplayGpsManagerImplementationTests_Closure.svg
  docs/uml-class-diagrams/display01/test/DisplayGpsManagerImplementationTests/DisplayGpsManagerImplementationTests_DirectDependencies.png
  docs/uml-class-diagrams/display01/test/DisplayGpsManagerImplementationTests/DisplayGpsManagerImplementationTests_DirectDependencies.svg
  docs/uml-class-diagrams/display01/test/DisplayGpsManagerStub/DisplayGpsManagerStub_Closure.png
  docs/uml-class-diagrams/display01/test/DisplayGpsManagerStub/DisplayGpsManagerStub_Closure.svg
  docs/uml-class-diagrams/display01/test/DisplayGpsManagerStub/DisplayGpsManagerStub_DirectDependencies.png
  docs/uml-class-diagrams/display01/test/DisplayGpsManagerStub/DisplayGpsManagerStub_DirectDependencies.svg
  docs/uml-class-diagrams/display01/test/DisplayGpsReceiverImplementationTests/DisplayGpsReceiverImplementationTests_Closure.png
  docs/uml-class-diagrams/display01/test/DisplayGpsReceiverImplementationTests/DisplayGpsReceiverImplementationTests_Closure.svg
  src/main/java/edu/oakland/production/display01/DisplayGpsManager.java
  src/main/java/edu/oakland/production/display01/DisplayGpsManagerImplementation.java
Labels: Display_01, documentation

#92 [Display_01] Define DisplayGpsReceiverImplementationTests
  docs/uml-class-diagrams/display01/Display01Packages.png
  docs/uml-class-diagrams/display01/Display01Packages.svg
  docs/uml-class-diagrams/display01/Display01Packages_Closure.png
  docs/uml-class-diagrams/display01/Display01Packages_Closure.svg
  docs/uml-class-diagrams/display01/Display01Packages_DirectDependencies.png
  docs/uml-class-diagrams/display01/Display01Packages_DirectDependencies.svg
  docs/uml-class-diagrams/display01/Display01Packages_InternalDependencies.png
  docs/uml-class-diagrams/display01/Display01Packages_InternalDependencies.svg
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage.png
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage.svg
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage_Closure.png
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage_Closure.svg
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage_DirectDependencies.png
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage_DirectDependencies.svg
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage_InternalDependencies.png
  docs/uml-class-diagrams/display01/production/Display01ProductionPackage_InternalDependencies.svg
  docs/uml-class-diagrams/display01/production/DisplayGpsReceiver/DisplayGpsReceiver.png
  docs/uml-class-diagrams/display01/production/DisplayGpsReceiver/DisplayGpsReceiver.puml
  docs/uml-class-diagrams/display01/production/DisplayGpsReceiver/DisplayGpsReceiver.svg
  docs/uml-class-diagrams/display01/production/DisplayGpsReceiver/DisplayGpsReceiver_Closure.png
  docs/uml-class-diagrams/display01/production/DisplayGpsReceiver/DisplayGpsReceiver_Closure.svg
  docs/uml-class-diagrams/display01/production/DisplayGpsReceiver/DisplayGpsReceiver_DirectDependencies.png
  docs/uml-class-diagrams/display01/production/DisplayGpsReceiver/DisplayGpsReceiver_DirectDependencies.svg
  docs/uml-class-diagrams/display01/production/DisplayGpsReceiverImplementation/DisplayGpsReceiverImplementation.png
  docs/uml-class-diagrams/display01/production/DisplayGpsReceiverImplementation/DisplayGpsReceiverImplementation.puml
  docs/uml-class-diagrams/display01/production/DisplayGpsReceiverImplementation/DisplayGpsReceiverImplementation.svg
  docs/uml-class-diagrams/display01/production/DisplayGpsReceiverImplementation/DisplayGpsReceiverImplementation_Closure.png
  docs/uml-class-diagrams/display01/production/DisplayGpsReceiverImplementation/DisplayGpsReceiverImplementation_Closure.svg
  docs/uml-class-diagrams/display01/production/DisplayGpsReceiverImplementation/DisplayGpsReceiverImplementation_DirectDependencies.png
  docs/uml-class-diagrams/display01/production/DisplayGpsReceiverImplementation/DisplayGpsReceiverImplementation_DirectDependencies.svg
  docs/uml-class-diagrams/display01/test/Display01TestPackage.png
  docs/uml-class-diagrams/display01/test/Display01TestPackage.svg
  docs/uml-class-diagrams/display01/test/Display01TestPackage_Closure.png
  docs/uml-class-diagrams/display01/test/Display01TestPackage_Closure.svg
  docs/uml-class-diagrams/display01/test/Display01TestPackage_DirectDependencies.png
  docs/uml-class-diagrams/display01/test/Display01TestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/display01/test/Display01TestPackage_InternalDependencies.png
  docs/uml-class-diagrams/display01/test/Display01TestPackage_InternalDependencies.svg
  docs/uml-class-diagrams/display01/test/DisplayGpsReceiverImplementationTests/DisplayGpsReceiverImplementationTests.png
  docs/uml-class-diagrams/display01/test/DisplayGpsReceiverImplementationTests/DisplayGpsReceiverImplementationTests.puml
  docs/uml-class-diagrams/display01/test/DisplayGpsReceiverImplementationTests/DisplayGpsReceiverImplementationTests.svg
  docs/uml-class-diagrams/display01/test/DisplayGpsReceiverImplementationTests/DisplayGpsReceiverImplementationTests_Closure.png
  docs/uml-class-diagrams/display01/test/DisplayGpsReceiverImplementationTests/DisplayGpsReceiverImplementationTests_Closure.svg
  docs/uml-class-diagrams/display01/test/DisplayGpsReceiverImplementationTests/DisplayGpsReceiverImplementationTests_DirectDependencies.png
  docs/uml-class-diagrams/display01/test/DisplayGpsReceiverImplementationTests/DisplayGpsReceiverImplementationTests_DirectDependencies.svg
  docs/uml-class-diagrams/display01/test/DisplayGpsReceiverStub/DisplayGpsReceiverStub.png
  docs/uml-class-diagrams/display01/test/DisplayGpsReceiverStub/DisplayGpsReceiverStub.puml
  docs/uml-class-diagrams/display01/test/DisplayGpsReceiverStub/DisplayGpsReceiverStub.svg
  docs/uml-class-diagrams/display01/test/DisplayGpsReceiverStub/DisplayGpsReceiverStub_Closure.png
  docs/uml-class-diagrams/display01/test/DisplayGpsReceiverStub/DisplayGpsReceiverStub_Closure.svg
  docs/uml-class-diagrams/display01/test/DisplayGpsReceiverStub/DisplayGpsReceiverStub_DirectDependencies.png
  docs/uml-class-diagrams/display01/test/DisplayGpsReceiverStub/DisplayGpsReceiverStub_DirectDependencies.svg
  src/main/java/edu/oakland/production/display01/DisplayGpsReceiver.java
  src/main/java/edu/oakland/production/display01/DisplayGpsReceiverImplementation.java
Labels: Display_01, documentation

#101 [Display_02] Define DisplayCommInterfaceImplementationTests
  docs/uml-class-diagrams/display02/Display02Packages.png
  docs/uml-class-diagrams/display02/Display02Packages.svg
  docs/uml-class-diagrams/display02/Display02Packages_Closure.png
  docs/uml-class-diagrams/display02/Display02Packages_Closure.svg
  docs/uml-class-diagrams/display02/Display02Packages_DirectDependencies.png
  docs/uml-class-diagrams/display02/Display02Packages_DirectDependencies.svg
  docs/uml-class-diagrams/display02/Display02Packages_InternalDependencies.png
  docs/uml-class-diagrams/display02/Display02Packages_InternalDependencies.svg
  docs/uml-class-diagrams/display02/test/Display02TestPackage.png
  docs/uml-class-diagrams/display02/test/Display02TestPackage.svg
  docs/uml-class-diagrams/display02/test/Display02TestPackage_Closure.png
  docs/uml-class-diagrams/display02/test/Display02TestPackage_Closure.svg
  docs/uml-class-diagrams/display02/test/Display02TestPackage_DirectDependencies.png
  docs/uml-class-diagrams/display02/test/Display02TestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/display02/test/Display02TestPackage_InternalDependencies.png
  docs/uml-class-diagrams/display02/test/Display02TestPackage_InternalDependencies.svg
  docs/uml-class-diagrams/display02/test/DisplayCommInterfaceImplementationTests/DisplayCommInterfaceImplementationTests.png
  docs/uml-class-diagrams/display02/test/DisplayCommInterfaceImplementationTests/DisplayCommInterfaceImplementationTests.puml
  docs/uml-class-diagrams/display02/test/DisplayCommInterfaceImplementationTests/DisplayCommInterfaceImplementationTests.svg
  docs/uml-class-diagrams/display02/test/DisplayCommInterfaceImplementationTests/DisplayCommInterfaceImplementationTests_Closure.png
  docs/uml-class-diagrams/display02/test/DisplayCommInterfaceImplementationTests/DisplayCommInterfaceImplementationTests_Closure.svg
  docs/uml-class-diagrams/display02/test/DisplayCommInterfaceImplementationTests/DisplayCommInterfaceImplementationTests_DirectDependencies.png
  docs/uml-class-diagrams/display02/test/DisplayCommInterfaceImplementationTests/DisplayCommInterfaceImplementationTests_DirectDependencies.svg
Labels: Display_02, documentation

#103 [Middleware_01] Built MiddlewareGisProcessor Tests and Implementation
  docs/uml-class-diagrams/middleware01/Middleware01Packages.png
  docs/uml-class-diagrams/middleware01/Middleware01Packages.svg
  docs/uml-class-diagrams/middleware01/Middleware01Packages_Closure.png
  docs/uml-class-diagrams/middleware01/Middleware01Packages_Closure.svg
  docs/uml-class-diagrams/middleware01/Middleware01Packages_DirectDependencies.png
  docs/uml-class-diagrams/middleware01/Middleware01Packages_DirectDependencies.svg
  docs/uml-class-diagrams/middleware01/Middleware01Packages_InternalDependencies.png
  docs/uml-class-diagrams/middleware01/Middleware01Packages_InternalDependencies.svg
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage.png
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage.svg
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage_Closure.png
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage_Closure.svg
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage_DirectDependencies.png
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage_InternalDependencies.png
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage_InternalDependencies.svg
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisInterfaceImplementationTests/MiddlewareGisInterfaceImplementationTests.png
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisInterfaceImplementationTests/MiddlewareGisInterfaceImplementationTests.puml
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisInterfaceImplementationTests/MiddlewareGisInterfaceImplementationTests.svg
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisInterfaceImplementationTests/MiddlewareGisInterfaceImplementationTests_Closure.png
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisInterfaceImplementationTests/MiddlewareGisInterfaceImplementationTests_Closure.svg
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisInterfaceImplementationTests/MiddlewareGisInterfaceImplementationTests_DirectDependencies.png
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisInterfaceImplementationTests/MiddlewareGisInterfaceImplementationTests_DirectDependencies.svg
  src/main/java/edu/oakland/helper/admin/Satellite.java
  src/main/java/edu/oakland/helper/admin/TrackData.java
  src/main/java/edu/oakland/production/middleware01/MiddlewareGisInterfaceImplementation.java
  src/main/java/edu/oakland/production/middleware01/MiddlewareGisManagerImplementation.java
  src/main/java/edu/oakland/production/middleware01/MiddlewareGisProcessorImplementation.java
  src/test/java/edu/oakland/test/middleware01/DatabaseGisInterfaceStub.java
  src/test/java/edu/oakland/test/middleware01/MiddlewareGisInterfaceImplementationTests.java
  src/test/java/edu/oakland/test/middleware01/MiddlewareGisManagerImplementationTests.java
  src/test/java/edu/oakland/test/middleware01/MiddlewareGisManagerStub.java
  src/test/java/edu/oakland/test/middleware01/MiddlewareGisProcessorImplementationTests.java
Labels: Middleware_01, enhancement

#107 [Display_02] Define DisplayCommManager
  docs/uml-class-diagrams/display02/Display02Packages.png
  docs/uml-class-diagrams/display02/Display02Packages.svg
  docs/uml-class-diagrams/display02/Display02Packages_Closure.png
  docs/uml-class-diagrams/display02/Display02Packages_Closure.svg
  docs/uml-class-diagrams/display02/Display02Packages_DirectDependencies.png
  docs/uml-class-diagrams/display02/Display02Packages_DirectDependencies.svg
  docs/uml-class-diagrams/display02/Display02Packages_InternalDependencies.png
  docs/uml-class-diagrams/display02/Display02Packages_InternalDependencies.svg
  docs/uml-class-diagrams/display02/test/Display02TestPackage.png
  docs/uml-class-diagrams/display02/test/Display02TestPackage.svg
  docs/uml-class-diagrams/display02/test/Display02TestPackage_Closure.png
  docs/uml-class-diagrams/display02/test/Display02TestPackage_Closure.svg
  docs/uml-class-diagrams/display02/test/Display02TestPackage_DirectDependencies.png
  docs/uml-class-diagrams/display02/test/Display02TestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/display02/test/Display02TestPackage_InternalDependencies.png
  docs/uml-class-diagrams/display02/test/Display02TestPackage_InternalDependencies.svg
  docs/uml-class-diagrams/display02/test/DisplayCommManagerImplementationTests/DisplayCommManagerImplementationTests.png
  docs/uml-class-diagrams/display02/test/DisplayCommManagerImplementationTests/DisplayCommManagerImplementationTests.puml
  docs/uml-class-diagrams/display02/test/DisplayCommManagerImplementationTests/DisplayCommManagerImplementationTests.svg
  docs/uml-class-diagrams/display02/test/DisplayCommManagerImplementationTests/DisplayCommManagerImplementationTests_Closure.png
  docs/uml-class-diagrams/display02/test/DisplayCommManagerImplementationTests/DisplayCommManagerImplementationTests_Closure.svg
  docs/uml-class-diagrams/display02/test/DisplayCommManagerImplementationTests/DisplayCommManagerImplementationTests_DirectDependencies.png
  docs/uml-class-diagrams/display02/test/DisplayCommManagerImplementationTests/DisplayCommManagerImplementationTests_DirectDependencies.svg
Labels: Display_02, documentation

#125 [Middleware_01] Built Processor Classes
  docs/uml-class-diagrams/middleware01/Middleware01Packages.png
  docs/uml-class-diagrams/middleware01/Middleware01Packages.svg
  docs/uml-class-diagrams/middleware01/Middleware01Packages_Closure.png
  docs/uml-class-diagrams/middleware01/Middleware01Packages_Closure.svg
  docs/uml-class-diagrams/middleware01/Middleware01Packages_DirectDependencies.png
  docs/uml-class-diagrams/middleware01/Middleware01Packages_DirectDependencies.svg
  docs/uml-class-diagrams/middleware01/Middleware01Packages_InternalDependencies.png
  docs/uml-class-diagrams/middleware01/Middleware01Packages_InternalDependencies.svg
  docs/uml-class-diagrams/middleware01/production/Middleware01ProductionPackage.png
  docs/uml-class-diagrams/middleware01/production/Middleware01ProductionPackage.svg
  docs/uml-class-diagrams/middleware01/production/Middleware01ProductionPackage_Closure.png
  docs/uml-class-diagrams/middleware01/production/Middleware01ProductionPackage_Closure.svg
  docs/uml-class-diagrams/middleware01/production/Middleware01ProductionPackage_DirectDependencies.png
  docs/uml-class-diagrams/middleware01/production/Middleware01ProductionPackage_DirectDependencies.svg
  docs/uml-class-diagrams/middleware01/production/Middleware01ProductionPackage_InternalDependencies.png
  docs/uml-class-diagrams/middleware01/production/Middleware01ProductionPackage_InternalDependencies.svg
  docs/uml-class-diagrams/middleware01/production/MiddlewareGisManagerImplementation/MiddlewareGisManagerImplementation.png
  docs/uml-class-diagrams/middleware01/production/MiddlewareGisManagerImplementation/MiddlewareGisManagerImplementation.puml
  docs/uml-class-diagrams/middleware01/production/MiddlewareGisManagerImplementation/MiddlewareGisManagerImplementation.svg
  docs/uml-class-diagrams/middleware01/production/MiddlewareGisManagerImplementation/MiddlewareGisManagerImplementation_Closure.png
  docs/uml-class-diagrams/middleware01/production/MiddlewareGisManagerImplementation/MiddlewareGisManagerImplementation_Closure.svg
  docs/uml-class-diagrams/middleware01/production/MiddlewareGisManagerImplementation/MiddlewareGisManagerImplementation_DirectDependencies.png
  docs/uml-class-diagrams/middleware01/production/MiddlewareGisManagerImplementation/MiddlewareGisManagerImplementation_DirectDependencies.svg
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage_Closure.png
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage_Closure.svg
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage_DirectDependencies.png
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisManagerImplementationTests/MiddlewareGisManagerImplementationTests_Closure.png
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisManagerImplementationTests/MiddlewareGisManagerImplementationTests_Closure.svg
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisManagerImplementationTests/MiddlewareGisManagerImplementationTests_DirectDependencies.png
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisManagerImplementationTests/MiddlewareGisManagerImplementationTests_DirectDependencies.svg
  src/main/java/edu/oakland/production/middleware01/MiddlewareGisManager.java
  src/main/java/edu/oakland/production/middleware01/MiddlewareGisProcessorImplementation.java
  src/test/java/edu/oakland/test/middleware01/MiddlewareGisManagerStub.java
  src/test/java/edu/oakland/test/middleware01/MiddlewareGisProcessorImplementationTests.java
Labels: BREAKING CHANGE, Middleware_01, enhancement

#110 [Display_02] Define DisplayComm2WayInterfaceImplementationTests
  docs/uml-class-diagrams/display02/Display02Packages.png
  docs/uml-class-diagrams/display02/Display02Packages.svg
  docs/uml-class-diagrams/display02/Display02Packages_Closure.png
  docs/uml-class-diagrams/display02/Display02Packages_Closure.svg
  docs/uml-class-diagrams/display02/Display02Packages_DirectDependencies.png
  docs/uml-class-diagrams/display02/Display02Packages_DirectDependencies.svg
  docs/uml-class-diagrams/display02/Display02Packages_InternalDependencies.png
  docs/uml-class-diagrams/display02/Display02Packages_InternalDependencies.svg
  docs/uml-class-diagrams/display02/test/Display02TestPackage.png
  docs/uml-class-diagrams/display02/test/Display02TestPackage.svg
  docs/uml-class-diagrams/display02/test/Display02TestPackage_Closure.png
  docs/uml-class-diagrams/display02/test/Display02TestPackage_Closure.svg
  docs/uml-class-diagrams/display02/test/Display02TestPackage_DirectDependencies.png
  docs/uml-class-diagrams/display02/test/Display02TestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/display02/test/Display02TestPackage_InternalDependencies.png
  docs/uml-class-diagrams/display02/test/Display02TestPackage_InternalDependencies.svg
  docs/uml-class-diagrams/display02/test/DisplayComm2WayInterfaceImplementationTests/DisplayComm2WayInterfaceImplementationTests.png
  docs/uml-class-diagrams/display02/test/DisplayComm2WayInterfaceImplementationTests/DisplayComm2WayInterfaceImplementationTests.puml
  docs/uml-class-diagrams/display02/test/DisplayComm2WayInterfaceImplementationTests/DisplayComm2WayInterfaceImplementationTests.svg
  docs/uml-class-diagrams/display02/test/DisplayComm2WayInterfaceImplementationTests/DisplayComm2WayInterfaceImplementationTests_Closure.png
  docs/uml-class-diagrams/display02/test/DisplayComm2WayInterfaceImplementationTests/DisplayComm2WayInterfaceImplementationTests_Closure.svg
  docs/uml-class-diagrams/display02/test/DisplayComm2WayInterfaceImplementationTests/DisplayComm2WayInterfaceImplementationTests_DirectDependencies.png
  docs/uml-class-diagrams/display02/test/DisplayComm2WayInterfaceImplementationTests/DisplayComm2WayInterfaceImplementationTests_DirectDependencies.svg
Labels: Display_02, documentation

#108 [Database] Build DatabaseGisInterface
  .gitignore
  src/main/java/edu/oakland/production/database/DatabaseGisInterface.java
  src/main/java/edu/oakland/production/database/DatabaseGisInterfaceImplementation.java
  src/main/java/edu/oakland/production/database/DatabaseGisManager.java
  src/test/java/edu/oakland/test/database/DatabaseGisInterfaceTest.java
  src/test/java/edu/oakland/test/database/DatabaseGisManagerStub.java
Labels: Database, enhancement

#137 [Display_01] Built SatelliteSignalCheckRequest
  docs/uml-class-diagrams/display01/Display01Packages.png
  docs/uml-class-diagrams/display01/Display01Packages.svg
  docs/uml-class-diagrams/display01/Display01Packages_Closure.png
  docs/uml-class-diagrams/display01/Display01Packages_Closure.svg
  docs/uml-class-diagrams/display01/Display01Packages_DirectDependencies.png
  docs/uml-class-diagrams/display01/Display01Packages_DirectDependencies.svg
  docs/uml-class-diagrams/display01/Display01Packages_InternalDependencies.png
  docs/uml-class-diagrams/display01/Display01Packages_InternalDependencies.svg
  docs/uml-class-diagrams/display01/test/Display01TestPackage.png
  docs/uml-class-diagrams/display01/test/Display01TestPackage.svg
  docs/uml-class-diagrams/display01/test/Display01TestPackage_Closure.png
  docs/uml-class-diagrams/display01/test/Display01TestPackage_Closure.svg
  docs/uml-class-diagrams/display01/test/Display01TestPackage_DirectDependencies.png
  docs/uml-class-diagrams/display01/test/Display01TestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/display01/test/Display01TestPackage_InternalDependencies.png
  docs/uml-class-diagrams/display01/test/Display01TestPackage_InternalDependencies.svg
  docs/uml-class-diagrams/display01/test/SatelliteSignalCheckRequestTests/SatelliteSignalCheckRequestTests.png
  docs/uml-class-diagrams/display01/test/SatelliteSignalCheckRequestTests/SatelliteSignalCheckRequestTests.puml
  docs/uml-class-diagrams/display01/test/SatelliteSignalCheckRequestTests/SatelliteSignalCheckRequestTests.svg
  docs/uml-class-diagrams/display01/test/SatelliteSignalCheckRequestTests/SatelliteSignalCheckRequestTests_Closure.png
  docs/uml-class-diagrams/display01/test/SatelliteSignalCheckRequestTests/SatelliteSignalCheckRequestTests_Closure.svg
  docs/uml-class-diagrams/display01/test/SatelliteSignalCheckRequestTests/SatelliteSignalCheckRequestTests_DirectDependencies.png
  docs/uml-class-diagrams/display01/test/SatelliteSignalCheckRequestTests/SatelliteSignalCheckRequestTests_DirectDependencies.svg
  src/main/java/edu/oakland/helper/display01/SatelliteSignalCheckRequest.java
  src/test/java/edu/oakland/test/display01/SatelliteSignalCheckRequestTests.java
Labels: Display_01, enhancement

#140 [Display_01] Build DisplayGpsReceiverImplementation
  .gitignore
  src/main/java/edu/oakland/production/database/DatabaseGisInterface.java
  src/main/java/edu/oakland/production/database/DatabaseGisInterfaceImplementation.java
  src/main/java/edu/oakland/production/database/DatabaseGisManager.java
  src/main/java/edu/oakland/production/display01/DisplayGpsReceiverImplementation.java
  src/test/java/edu/oakland/test/database/DatabaseGisInterfaceTest.java
  src/test/java/edu/oakland/test/database/DatabaseGisManagerStub.java
Labels: BREAKING CHANGE, Display_01, enhancement

#128 [Middleware_01] Built MiddlewareGisManager Classes
  docs/uml-class-diagrams/middleware01/Middleware01Packages.png
  docs/uml-class-diagrams/middleware01/Middleware01Packages.svg
  docs/uml-class-diagrams/middleware01/Middleware01Packages_Closure.png
  docs/uml-class-diagrams/middleware01/Middleware01Packages_Closure.svg
  docs/uml-class-diagrams/middleware01/Middleware01Packages_DirectDependencies.png
  docs/uml-class-diagrams/middleware01/Middleware01Packages_DirectDependencies.svg
  docs/uml-class-diagrams/middleware01/Middleware01Packages_InternalDependencies.png
  docs/uml-class-diagrams/middleware01/Middleware01Packages_InternalDependencies.svg
  docs/uml-class-diagrams/middleware01/production/Middleware01ProductionPackage.png
  docs/uml-class-diagrams/middleware01/production/Middleware01ProductionPackage.svg
  docs/uml-class-diagrams/middleware01/production/Middleware01ProductionPackage_Closure.png
  docs/uml-class-diagrams/middleware01/production/Middleware01ProductionPackage_Closure.svg
  docs/uml-class-diagrams/middleware01/production/Middleware01ProductionPackage_DirectDependencies.png
  docs/uml-class-diagrams/middleware01/production/Middleware01ProductionPackage_DirectDependencies.svg
  docs/uml-class-diagrams/middleware01/production/Middleware01ProductionPackage_InternalDependencies.png
  docs/uml-class-diagrams/middleware01/production/Middleware01ProductionPackage_InternalDependencies.svg
  docs/uml-class-diagrams/middleware01/production/MiddlewareGisManagerImplementation/MiddlewareGisManagerImplementation.png
  docs/uml-class-diagrams/middleware01/production/MiddlewareGisManagerImplementation/MiddlewareGisManagerImplementation.puml
  docs/uml-class-diagrams/middleware01/production/MiddlewareGisManagerImplementation/MiddlewareGisManagerImplementation.svg
  docs/uml-class-diagrams/middleware01/production/MiddlewareGisManagerImplementation/MiddlewareGisManagerImplementation_Closure.png
  docs/uml-class-diagrams/middleware01/production/MiddlewareGisManagerImplementation/MiddlewareGisManagerImplementation_Closure.svg
  docs/uml-class-diagrams/middleware01/production/MiddlewareGisManagerImplementation/MiddlewareGisManagerImplementation_DirectDependencies.png
  docs/uml-class-diagrams/middleware01/production/MiddlewareGisManagerImplementation/MiddlewareGisManagerImplementation_DirectDependencies.svg
  docs/uml-class-diagrams/middleware01/test/DatabaseGisInterfaceStub/DatabaseGisInterfaceStub.png
  docs/uml-class-diagrams/middleware01/test/DatabaseGisInterfaceStub/DatabaseGisInterfaceStub.puml
  docs/uml-class-diagrams/middleware01/test/DatabaseGisInterfaceStub/DatabaseGisInterfaceStub.svg
  docs/uml-class-diagrams/middleware01/test/DatabaseGisInterfaceStub/DatabaseGisInterfaceStub_Closure.png
  docs/uml-class-diagrams/middleware01/test/DatabaseGisInterfaceStub/DatabaseGisInterfaceStub_Closure.svg
  docs/uml-class-diagrams/middleware01/test/DatabaseGisInterfaceStub/DatabaseGisInterfaceStub_DirectDependencies.png
  docs/uml-class-diagrams/middleware01/test/DatabaseGisInterfaceStub/DatabaseGisInterfaceStub_DirectDependencies.svg
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage.png
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage.svg
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage_Closure.png
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage_Closure.svg
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage_DirectDependencies.png
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage_DirectDependencies.svg
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage_InternalDependencies.png
  docs/uml-class-diagrams/middleware01/test/Middleware01TestPackage_InternalDependencies.svg
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisManagerImplementationTests/MiddlewareGisManagerImplementationTests.png
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisManagerImplementationTests/MiddlewareGisManagerImplementationTests.puml
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisManagerImplementationTests/MiddlewareGisManagerImplementationTests.svg
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisManagerImplementationTests/MiddlewareGisManagerImplementationTests_Closure.png
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisManagerImplementationTests/MiddlewareGisManagerImplementationTests_Closure.svg
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisManagerImplementationTests/MiddlewareGisManagerImplementationTests_DirectDependencies.png
  docs/uml-class-diagrams/middleware01/test/MiddlewareGisManagerImplementationTests/MiddlewareGisManagerImplementationTests_DirectDependencies.svg
  src/main/java/edu/oakland/production/middleware01/MiddlewareGisManager.java
  src/main/java/edu/oakland/production/middleware01/MiddlewareGisManagerImplementation.java
  src/test/java/edu/oakland/test/middleware01/DatabaseGisInterfaceStub.java
  src/test/java/edu/oakland/test/middleware01/MiddlewareGisManagerImplementationTests.java
Labels: BREAKING CHANGE, Middleware_01, enhancement

#139 [Database] Build Database GISManager
  src/main/java/edu/oakland/production/database/DatabaseGisManagerImplementation.java
  src/test/java/edu/oakland/test/database/DatabaseGisManagerTest.java
  src/test/java/edu/oakland/test/database/DatabasePersistentStorageStub.java
Labels: Database, enhancement

#136 [Database] Build Database CommManager
  src/main/java/edu/oakland/production/database/DatabaseCommManager.java
  src/main/java/edu/oakland/production/database/DatabaseCommManagerImplementation.java
  src/main/java/edu/oakland/production/database/DatabasePersistentStorage.java
  src/test/java/edu/oakland/test/database/DatabaseCommManagerImplementationTest.java
  src/test/java/edu/oakland/test/database/DatabasePersistentStorageStub.java
Labels: Database, enhancement

#144 [Database] Update DatabaseGisInterfaceTest
  src/test/java/edu/oakland/test/database/DatabaseGisInterfaceTest.java
Labels: Database, bug

#131 [Display_02] Built DisplayCommManagerImplementation
  src/main/java/edu/oakland/production/display02/DisplayCommManager.java
  src/main/java/edu/oakland/production/display02/DisplayCommManagerImplementation.java
  src/test/java/edu/oakland/test/display02/DisplayCommManagerImplementationTests.java
  src/test/java/edu/oakland/test/display02/MiddlewareCommInterfaceStub.java
Labels: Display_02, enhancement

#133 [Database] Build DatabasePersistentStorage
  src/main/java/edu/oakland/production/database/DatabasePersistentStorageImplementation.java
  src/test/java/edu/oakland/test/database/DatabasePersistentStorageStub.java
  src/test/java/edu/oakland/test/database/DatabasePersistentStorageTest.java
Labels: Database, enhancement
